@{
    ViewData["Title"] = "FAQ";
}
<body class="faq">
<div class="text-center">
    <h2 class="display-4">Популярные вопросы и ответы на них!</h2>
</div>
<details>
    <summary>Как и когда родилась Вселенная?</summary>
    <p>
        Вселенная родилась 13,8 миллиарда лет назад в результате Большого взрыва. В первые секунды после взрыва образовались элементарные частицы, а затем из них сформировались атомы.
    </p>
</details>

<details>
    <summary>Почему космос чёрного цвета?</summary>
    <p>
        Космос не чёрный, он прозрачный. Чёрным он кажется нам с Земли, потому что в ясную ночь мы видим множество далёких звёзд, а между ними — пустое пространство.
    </p>
</details>

<details>
    <summary>Что такое чёрная дыра?</summary>
    <p>
        Чёрная дыра — это область в космосе, где гравитация настолько сильна, что ничто, включая свет или другие электромагнитные волны, не может её покинуть.
    </p>
</details>  



<details>
    <summary>Почему звёзды мерцают или мигают?</summary>
    <p>Звёзды мерцают из-за турбулентности в атмосфере Земли, которая искажает свет, идущий от звезды.</p>
</details>

<details>
    <summary>Что будет, если оказаться в открытом космосе без скафандра?</summary>
    <p>
        Без скафандра в открытом космосе человек может умереть от недостатка кислорода, получить серьёзные повреждения кожи и глаз от солнечного излучения, а также замёрзнуть, хотя и не мгновенно.
    </p>
</details>  

<details>
    <summary>Почему в космосе нет звука?</summary>
    <p>В космосе нет среды для распространения звуковых волн, поэтому там царит полная тишина.</p>
</details> 

<details>
    <summary>Что такое экзопланеты и как их ищут?</summary>
    <p>
        Экзопланеты - это планеты, находящиеся за пределами нашей Солнечной системы. Их поиск осуществляется различными методами, включая метод радиальных скоростей (наблюдение за колебаниями звезды из-за гравитационного влияния планеты) и транзитный метод (наблюдение за прохождением планеты на фоне диска звезды).
    </p>
</details>   

<details>
    <summary>Какие формы жизни могут существовать в космосе?</summary>
    <p>
        На данный момент прямых доказательств существования жизни вне Земли нет. Однако ученые исследуют возможность существования микроорганизмов в экстремальных условиях на Земле и других планетах, а также ищут следы органических молекул в космосе.
    </p>
</details>
</body>