<!doctype html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Таблица стилей Bootstrap -->
    <link href="~/lib/bootstrap/dist/js/bootstrap.js" type="text/css" rel="stylesheet">
    <!-- CSS файл плагина fullpage -->
    <link href="https://unpkg.com/fullpage.js/dist/fullpage.min.css" type="text/css" rel="stylesheet">
    <!-- Основная таблица стилей -->
    <link href="~/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="fullpage" >
        <section class="section" id="selection0" data-anchor="0">
            <div class="container">
                <div class="row">
                    <div class="imgicecream">
                        <img src="~/images/для хистори 3.png" style=" width: 1200px; text-align: center; top: 60px; position:fixed">
                        <center> <img src="~/images/листайстрелка.png" style="width: 90px; position:absolute; bottom: 60px; left: 600px;" /></center>
                       
                    </div>
                </div>
            </div>
        </section>
        <section class="section" id="selection1" data-anchor="1">
            <div class="container" >
                <div class="row" >
                    <div class="stylehistorytext1">
                        <h4 align="justify" id="history1b" z-index:1>
                            История освоения космоса: успехи, достижения и ключевые события
                        </h4>
                        <p align="justify" id="history2b" z-index:1>
                            Полеты в космос начались во второй половине прошлого века, но этому предшествовала колоссальная работа на протяжении веков. Первые шаги к освоению космоса были сделаны еще в 1 веке нашей эры, когда египетский астроном Клавдий Птолемей на основе своих наблюдений за космическими телами разработал первую модель Вселенной. Этой моделью пользовались все будущие астрономы в течение тысячи лет.Большой вклад в теорию космонавтики внес Николай Коперник, предложивший геоцентрическую модель Вселенной, а также Галилео Галилей, подтвердивший предположения Коперника, обнаруживший 4 крупнейших спутника Юпитера.
                        </p>
                    </div>
                   
                </div>
            </div>
        </section>
        <section class="section" id="selection2" data-anchor="2">
            <div class="container">
                <div class="row">
                    <div class ="stylehistorytext2" >
                        <h4 align="justify" id="history1b" z-index:1>
                            Слово «спутник» узнала вся планета
                        </h4>
                        <p align="justify" id="history2b" z-index:1>
                            Спутник 1 был первый искусственный земной спутник. Он был запущен на эллиптическую низкую околоземную орбиту Советским Союзом 4 октября 1957 года в рамках советской космической программы. Конструкция была максимально простой, но прорывной для своего времени. Корпус представлял собой металлический шар с блоком элементов питания, вентилятором для охлаждения, датчиками температуры и давления, радиопередатчиком.
                            Корпус дополняли четыре антенны.Он посылал радиосигнал обратно на Землю в течение трех недель, прежде чем его три серебряно-цинковые батареи разрядились. Аэродинамическое сопротивление привело к тому, что он упал обратно в атмосферу 4 января 1958 года. Первое в мире наблюдение было сделано в школьной обсерватории в Родевише (Саксония).
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section" id="selection3" data-anchor="3">
            <div class="container">
                <div class="row">
                    <div class="stylehistorytext2">
                        <h4 align="justify" id="history1b">
                            «Поехали!»
                        </h4>
                        <p align ="justify" id="history2b">
                            Первый полет человека в космос длился 1 час 48 минут.

                            Космический корабль «Восток» с очень важным пассажиром на борту стартовал с космодрома Байконур, облетел Землю и приземлился в Саратовской области.

                            Человек впервые побывал за пределами Земли. Юрий Гагарин не только любовался видами нашей планеты с высоты 302 км, но и ел и пил. Не от голода и жажды, а чтобы понять, как будет работать человеческий организм в новых условиях. А еще — решал математические задачи и выполнял другие задания с Земли.

                            До сих пор 12 апреля — праздник не только в России и странах бывшего СССР, но и во всем мире. Мы его называем Днем космонавтики.

                            В школах, музеях и планетариях организуют лекции, занятия и встречи с людьми, чья работа связана с космосом, а в ночных клубах проводят Всемирную космическую вечеринку. Одним словом, провести этот праздник может так, как хочется, — узнать что-то новое о космосе, потусоваться в космических нарядах или смастерить из подручных материалов скафандр.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section" id="selection4" data-anchor="4">
            <div class="container">
                <div class="row">
                    <div class="stylehistorytext2">
                        <h4 align="justify" id="history1b">
                            Кто «открыл» космос
                        </h4>
                        <p align="justify" id="history2b">
                            Алексей Леонов стал первым землянином, вышедшим в открытый космос. Он покинул борт корабля «Восход-2», но оставался с ним связан пятиметровым фалом. Космонавт несколько раз удалялся от корабля и возвращался к нему, все время свободного полета составило чуть больше 12 минут.

                            Когда задача практически была завершена и осталась самая малость — вернуться на борт корабля, где ждал Павел Беляев, что-то пошло не так. Из-за разницы внешнего и внутреннего давления скафандр раздулся, и Алексею Архиповичу было сложно двигаться. Но он справился, отрегулировал давление внутри скафандра и вернулся в шлюзовую камеру.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section" id="selection5" data-anchor="5">
            <div class="container">
                <div class="row">
                    <div class="stylehistorytext2">
                        <h4 align="justify" id="history1b">
                            Долгая дорога к Луне
                        </h4>
                        <p align="justify" id="history2b">
                            20 июля 1969 году Нил Армстронг и Эдвин Олдрин (известный под домашним именем Базз) стали первыми землянами, потоптавшими лунный грунт. Третий астронавт — Майкл Коллинз — оставался в модуле «Колумбия» и ждал коллег там.

                            Для США это был вопрос престижа. СССР опередил Штаты с первым спутником, с первым полетом и с первым выходом в открытый космос. Первыми на естественном спутнике Земли побывали также советские устройства. «Луна-2» достигла поверхности, «Луна-3» показала, как выглядит обратная сторона, а «Луна-9» в 1966 году прилунилась и поддерживала связь с Землей почти четверо суток.

                            Нил Армстронг, спустившись с космического корабля «Аполлон-11», сказал: «Это один маленький шаг для человека, но гигантский прыжок для человечества». Астронавты провели на спутнике Земли два часа.

                            До сих пор Луна — единственное космическое тело, куда ступала нога человека. Все остальные объекты исследовали с помощью зондов — летательных аппаратов, которые передают на Землю изображения комических тел, сведения об их химическом составе и физических свойствах.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section" id="selection6" data-anchor="6">
            <div class="container">
                <div class="row">
                    <div class="stylehistorytext1">
                        <h4 align="justify" id="history1b">
                            Новый взгляд на Марс
                        </h4>
                        <p align="justify" id="history2b">
                            В 1976 год два космических корабля — «Викинг-1» и «Викинг-2» — достигли поверхности Марса. Они позволили по-новому взглянуть на красную планету и изменили прежние представления о ней. Десятки тысяч фотографий с речными долинами, горами, разрушенными дождем, заставили предположить присутствие воды. А если есть вода — возможно, есть и жизнь.

                            Как бы то ни было, Марс — второй на очереди после Луны претендент на колонизацию землянами. Относительно небольшое расстояние до нашей планеты потребует наименьших затрат на путешествие. Люди не смогут находиться на Марсе без снаряжения, однако в сравнении с другими планетами Солнечной системы условия Марса можно назвать наиболее пригодными для создании базы с землянами.
                            Сейчас над проектами по освоению соседа Земли работают Россия, США, Европейское космическое агентство, а также несколько частных проектов. Среди них компания SpaceX, основанная Илоном Маском.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section" id="selection7" data-anchor="7">
            <div class="container">
                <div class="row">
                    <div class="stylehistorytext2">
                        <h4 align="justify" id="history1b">
                            За пределами Солнечной системы
                        </h4>
                        <p align="justify" id="history2b">
                            В 1977 году два космических аппарата — «Вояджер-1» и «Вояджер-2» — отправились к дальним планетам Солнечной системы.

                            Ученые получили детальные цветные снимки Юпитера, Сатурна, Нептуна, Урана, а также Плутона, когда он еще не был разжалован из планет. Они дали новую информацию о Солнечной системе и пределах влияния нашей звезды на космическое пространство. Аппараты покинули границы Солнечной системы, но ученым пока удается сохранять связь с ними. Ожидается, что она прервется через несколько лет.

                            На случай встречи с другими цивилизациями каждый из «Вояджеров» несет позолоченную пластинку. На ней собрана библиотека звуковых записей и слайдов, которые должны дать представление о Земле и ее обитателях.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section" id="selection8" data-anchor="8">
            <div class="container">
                <div class="row">
                    <div class="stylehistorytext2">
                        <h4 align="justify" id="history1b">
                            Космические телескопы: больше, чем просто фотографии
                        </h4>
                        <p align="justify" id="history2b">
                            В 1990 году начал работу «Хаббл». Это не просто телескоп, это обсерватория на орбите Земли.

                            Для чего она нужна? Изображения, полученные с Земли, могут быть неточными — картинку искажает земная атмосфера. «Хаббл» находится за ее пределами, поэтому дает более высокую точность изображения.

                            Фотографии, сделанные «Хабблом», помогли ученым уточнить скорость расширения Вселенной и ее возраст (около 13,7 млрд лет), обнаружить ранее неизвестный спутник Нептуна, получить детальную карту поверхности Плутона и сделать множество других открытий.

                            В конце 2021 года свой путь начал телескоп «Джеймс Уэбб». Проект — результат сотрудничества 17 стран. Он обнаружил несколько планет, на которых можно предположить присутствие воды, найти новые звезды и галактики, зафиксировать их столкновения и процессы появления новых звезд.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section" id="selection9" data-anchor="9">
            <div class="container">
                <div class="row">
                    <div class="stylehistorytext2">
                        <h4 align="justify" id="history1b">
                            Для чего изучают космос
                        </h4>
                        <p align="justify" id="history2b">
                            Разработки в космической области часто становятся частью обычной земной жизни. Например, камера в смартфоне — крошечная, но способная получить качественные и детализированные снимки. В основе ее работы — активно-пиксельные датчики. Сегодня такие камеры есть в каждом смартфоне.

                            Из пены с эффектом памяти изготавливают матрасы и подушки. Но изначально материал разработали, чтобы смягчить воздействие перегрузок во время взлета и посадки космонавтов. Дистанционное управление бытовыми приборами, очищение воды с помощью ионизаторов, обработка линз для очков, аккумуляторные инструменты — нас буквально окружают технологии, которые разрабатывали для космонавтики.

                            Но все это скорее побочный эффект, главная цель освоения космоса — узнать больше о мире, Вселенной и нашем месте в ней.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Библиотека jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- js файлы плагина fullpage -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/fullpage/easings.min.js"></script>
    <script src="~/lib/fullpage/scrolloverflow.js"></script>
    <script src="https://unpkg.com/fullpage.js/dist/fullpage.min.js"></script>
    <!-- инициализация плагина fullpage -->
    <script>
        new fullpage('#fullpage', {
            anchors: ['0','1', '2', '3', '4', '5', '6', '7', '8', '9'],
                autoScrolling: true,
        });
    </script>

</body>

</html>
