@{
    ViewData["Title"] = "Космические объекты";
}
<head>
    <link href="~/css/style child objectspace.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
</head>

<body class="planet">
    <div class="background-container">
        <div class="side"></div>
    </div>
    <div class="center-rectangle">
    <div class="btn-up btn-up_hide"></div> <!--кнопка стрелка вврех-->

<div class="text-center">
    <h2 class="display-4" style="color: black; margin-top:10px;">Солнечная система</h2>
</div>
    <div class="text-center2" align="justify">
        Рассказываем, как устроена звёздная система, в которой мы живём. Какие планеты вращаются вокруг Солнца, что находится в межпланетном пространстве и другие интересные сведения о нашей Солнечной системе
    </div>
<center>
        <img src="~/images/5dzrcgnvuy3kas8.jpg" style=" width: 850px;  border-radius: 15px;" />
</center>
    <div align="justify" style="margin-top:10px;">
        <center>
            Если хотите верутся к выбору, нажмите на кнопку:   
            <button class="buttonback" onclick=" history.go(-1)">Вернутся назад</button>
        </center>
    </div>
        <div class="oglavlenie">
            Из этой статьи ты узнаешь:
        <ol >
            <li><a href="#Возникновение">Возникновение </a></li>
            <li><a href="#Образование Солнца">Образование Солнца </a></li>
            <li><a href="#Образование планет">Образование планет </a></li>
            <li>
                <a href="#Состав Солнечной системы">Состав Солнечной системы </a>
                <ol>
                    <li><a href="#Солнце">Солнце </a></li>
                    <li><a href="#Меркурий">Меркурий </a></li>
                    <li><a href="#Земля">Земля </a></li>
                    <li><a href="#Марс">Марс </a></li>
                    <li><a href="#Юпитер">Юпитер </a></li>
                    <li><a href="#Сатурн">Сатурн </a></li>
                    <li><a href="#Уран">Уран </a></li>
                    <li><a href="#Нептун">Нептун </a></li>
                    <li><a href="#Пояс койпера">Пояс койпера </a></li>
                    <li><a href="#Карликовая планета Плутон">Карликовая планета Плутон </a></li>
                </ol>
            </li>
            <li><a href="#Движение объектов солнечной системы">Движение объектов солнечной системы </a></li>
            <li><a href="#Межпланетное пространство">Межпланетное пространство </a></li>
            <li><a href="#Расположение Солнечной системы в Галактике">Расположение Солнечной системы в Галактике </a></li>
            <li><a href="#Изучение Солнечной системы">Изучение Солнечной системы </a></li>
        </ol>
        </div>
  
    <!-- ЗАГОЛОВОК -->
    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Возникновение">Возникновение</h2>
    </center>
    <center class="blockopredelenie" align="justify" style="position:center">
        <!-- определение -->
        <strong>Со́лнечная систе́ма</strong> — планетная система, включающая в себя центральную звезду — Солнце — и все естественные космические объекты, вращающиеся вокруг Солнца. Она сформировалась путём гравитационного сжатия газопылевого облака примерно 4,57 млрд лет назад.
    </center>
    <center align="justify" class="Zagolovok-text">
        К такому строению Солнечная система шла 4600 млн лет. Гипотезы о путях и принципах ее формирования выдвигались разными учеными: немецким философом Кантом, французским физиком Лапласом, английским астрономом Фредом Хойлом. В текстах их работ содержатся разные предположения.Однако основой современной теории стала точка зрения российского математика Отто Юльевича Шмидта. Она гласит, что Солнце и окружающие его небесные тела образовались из холодного газопылевого облака под воздействием сильного гравитационного сжатия. В будущем гипотеза дополнялась за счет данных, полученных при исследовании космоса.
    </center>
    <center>
        <img src="~/images/formirovaniesistemy-1536x983.jpg" style=" width: 750px;  border-radius: 15px; margin-top:10px;" />
    </center>
    <center align="justify" class="Zagolovok-text">
    Сейчас процесс возникновения Солнечной системы описывается следующими шагами:
    </center>
    <center align="justify" class="Zagolovok-text">
        <ol class="spisok2">
            <li class="spisok2">Изначально в этой области вселенной находилось облако, состоящее из гелия, водорода и других веществ, полученных при взрывах старых звезд. В небольшой его части началось уплотнение, ставшее центром гравитационного коллапса. Он постепенно начал притягивать к себе окружающие вещества.</li>
            <li class="spisok2">Из-за притяжения веществ размеры облака начали уменьшаться, при этом росла скорость вращения. Постепенно его форма превратилась в диск. </li>
            <li class="spisok2">По мере сжатия увеличивалась плотность частиц на единицу объема, что приводило к постепенному нагреву вещества за счет частых столкновений молекул. </li>
            <li class="spisok2">Когда центр гравитационного коллапса разогрелся до нескольких тысяч кельвинов, он начал светиться, что означало образование протозвезды. Параллельно с этим, в разных областях диска начали появляться другие уплотнения, которые в будущем послужат гравитационными центрами для образования планет. </li>
            <li class="spisok2">Финальный этап формирования солнечной системы начался в период, когда температура центра протозвезды превысила несколько миллионов кельвинов. Тогда гелий и водород вступили в реакцию термоядерного синтеза, что привело к появлению полноценной звезды. Остальные уплотнения диска постепенно сформировались в планеты, которые начали вращаться в одном направлении вокруг Солнца, находясь на одной плоскости. </li>
        </ol>
        Данный процесс длился очень долгое время, и ученые могут лишь догадываться, сколько лет ушло на формирование Солнечной системы. 
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Образование Солнца">Образование Солнца</h2>
    </center>
    <center class="blockopredelenie" align="justify" style="position:center"><!-- определение -->
        <strong>Со́лнце</strong> (астр. ☉) — одна из звёзд нашей Галактики (Млечный Путь) и единственная звезда Солнечной системы. Вокруг Солнца обращаются другие объекты этой системы: планеты и их спутники, карликовые планеты и их спутники, астероиды, метеороиды, кометы и космическая пыль.
    </center>
    <center align="justify" class="Zagolovok-text">
        Причиной преобразований газопылевого облака стал мощный вброс энергии. Ученые предполагают, что это была ударная волна от взрыва сверхновой звезды. Под ее воздействием произошло мгновенное сжатие массы, образование в центре облака плотного раскаленного ядра. Остальная масса рассредоточилась по периферии, сформировав огромный диск.
    </center>
    <center align="justify" class="Zagolovok-text">
        С течением времени ядро увеличивало температуру, давление и плотность. И на следующем этапе превратилось в протозвезду. Далее при достижении критических значений температуры и давления в ядре начали происходить термоядерные реакции: водород стал превращаться в гелий. Так протозвезда прекратила свое существование, уступив место звезде, которую люди на Земле назвали Солнцем.
    </center>


    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Образование планет">Образование планет</h2>
    </center>
    <center class="blockopredelenie" align="justify" style="position:center"><!-- определение -->
        <strong>Плане́та</strong> (др.-греч. πλανήτης, альтернати́вная фо́рма др.-греч. πλάνης — «странник») — небесное тело, вращающееся по орбите вокруг звезды или её остатков, достаточно массивное, чтобы стать округлым под действием собственной гравитации, но недостаточно массивное для начала термоядерной реакции, и сумевшее очистить окрестности своей орбиты от планетезималей.
    </center>
    <center align="justify" class="Zagolovok-text">
        Восемь планет Солнечной системы делят на две группы: земную и группу газовых гигантов.
        <p>
            К земной группе относятся:
            <ul>
                <li>Меркурий</li>
                <li>Земля</li>
                <li>Марс</li>
                <li>Венера</li>
            </ul>
            К газовым гигантам причисляют:
            <ul>
                <li>Юпитер</li>
                <li>Сатурн</li>
                <li>Нептун</li>
                <li>Уран</li>
            </ul>
        </p> 
        
        <center>
            <img src="~/images/t-3-c-2.png" style=" width: 850px;  border-radius: 15px; margin-top:10px;" />
        </center>
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">Образование планет земной группы</h4>
    </center>
    <center align="justify" class="Zagolovok-text">
    В некоторых областях окружавшего Солнце диска части газопылевого облака начали уплотняться. Постепенно они преобразовались в плотные кольца, притягивающие твердые материи из космического пространства.
    Поскольку температура в кольцах была слишком высокой, лед и газ в своем начальном виде не могли в них существовать. А вот термоустойчивые горные породы послужили отличным строительным материалом — именно из них состоят планеты земной группы.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">Образование газовых гигантов</h4>
    </center>
    <center align="justify" class="Zagolovok-text">
    Планеты группы газовых гигантов расположены на большом отдалении от Солнца. Их температуры значительно ниже земных. Этот факт они смогли использовать для своего формирования, нарастив массу за счет гравитационного притяжения газа из окружающего их пространства. Данный процесс называется аккрецией.
    Сегодня газовые гиганты являются самыми большими планетами Солнечной системы. Их характеристики можно посмотреть ниже:
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Состав Солнечной системы">Состав Солнечной системы</h2>
    </center>
    <center>
        <img src="~/images/4fc56aae28c511a416a091818a70c100.png" style=" width:850px;  border-radius: 15px; margin-top:10px;" />
    </center>
    <center class="blockopredelenie" align="justify" style="position:center"><!-- определение -->
        <strong>Со́лнечная систе́ма</strong> — планетная система, включающая в себя центральную звезду Солнце и все естественные космические объекты, вращающиеся вокруг Солнца. Она сформировалась путём гравитационного сжатия газопылевого облака примерно 4,57 млрд лет назад.Находится в галактике Млечный путь.
    </center>
    <center align="justify" class="Zagolovok-text">
        В состав солнечной системы входит восемь основных планет и пять карликовых, вращающихся приблизительно в одной плоскости. По своим физическим свойствам планеты делятся на земную группу и планеты-гиганты.
    </center>
    <center align="justify" class="Zagolovok-text">
        Орбита Земли делит солнечную систему на две условные области. Во внутренней находятся ближайшие к Солнцу планеты — Меркурий и Венера. Во внешней области — более удалённые от Солнца, чем Земля: Марс, Юпитер, Сатурн, Уран и Нептун.
    </center>
    <center align="justify" class="Zagolovok-text">
        Пространство между орбитами Марса и Юпитера, а также за Нептуном (пояс Койпера) занимают малые небесные тела: малые планеты и астероиды. Также по пространству Солнечной системы курсируют кометы и потоки метеороидов.
    </center>
    <center class="blockopredelenie" align="justify" style="position:center">
        <!-- определение -->
        <strong>Пояс Койпера</strong> — область Солнечной системы, расположенная на расстоянии от 30 до 200 астрономических единиц (от 4,5 млрд км до 28 млрд км) от Солнца с наклоном, близким к эклиптике. Являет собой околозвёздный диск, выходящий за пределы орбит планет. Похож на пояс астероидов, но намного крупнее — в 20 раз шире и от 20 до 200 раз массивнее. Состоит в основном из небольших тел являющихся материалом оставшимся от образования Солнечной системы.
    </center>
    <div class="exam_03" align="justify" style="position:center">
        <!-- примечание -->
        B 1950 гoду Ян Oopт, гoллaндcкий acтpoнoм, пpeдпoлoжил, чтo кoмeты, кoтopыe мы видим в нaшeй извecтнoй Coлнeчнoй cиcтeмe, нa caмoм дeлe пpoиcxoдят из дaльниx кoнцoв Coлнeчнoй cиcтeмы, бoльшoгo нeизвeдaннoгo peзepвуapa! Oнo былo нaзвaнo Oблaкoм Oopтa.
    </div>
    <center>
        <img src="~/images/пояс койпера и облако.png" style=" width: 850px;  border-radius: 15px; margin-top:10px;" />
    </center>

    <!-- солнце -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Солнце">Солнце</h2>
    </center>
    <div class="containerplanet">
        <div class="imageplanet"></div>
        <div class="contentplanet">
            <div class="zagolovokplanet">Солнце</div>
            <ul class="krug">
                <li><strong>Возраст:</strong> ~ 4,6 миллиарда лет</li>
                <li><strong>Сутки:</strong> 25 земных суток</li>
                <li><strong>Расстояние до Земли:</strong> 149 600 000 км </li>
                <li><strong>Масса:</strong> 332 982 масс Земли (1,9891·10<sup>30</sup> кг); </li>
                <li><strong>Число спутников:</strong>9 </li>
                <li><strong>Орбитальная скорость Солнца:</strong> равна 217 км/с; </li>
                <li><strong>Скорость вращения:</strong> 1,997 км/с </li>
                <li><strong>Радиус:</strong> 695-696 тыс. км; </li>
                <li><strong>Температура:</strong> от 5 778 К на поверхности до 15 700 000 К в ядре; </li>
                <li>Солнце стабильно в своей яркости, оно находится в 15% самых ярких звёзд нашей Галактики. Излучает меньше ультрафиолетовых лучей, но обладает большей массой по сравнению с аналогичными звёздами. </li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Звезда класса «жёлтый карлик». 98% массы Солнца приходится на водород и гелий, но в нём также содержатся все известные химические элементы. Солнце ярче, чем 85% звёзд в галактике, а температура его поверхности превышает 5 700°C.
    </center>
    <center align="justify" class="Zagolovok-text">
        Солнце почти в 110 раз больше Земли, а его масса в тысячу раз превосходит массу всех планет, вместе взятых. Именно благодаря солнечному свету и теплу на Земле существует жизнь.
    </center>
    <div align="justify" style="margin-top:10px; padding-right:5px;">
        <center>
            Если хотите узнать о солнце больше, нажмите на кнопку: 
            <a href="../Home/Objectspacestar"><button>Почитать</button></a>
        </center>
    </div>

    <!-- меркурий -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Меркурий">Меркурий</h2>
    </center>
    <div class="containerplanet">
        <div class="imageplanet2"></div>
        <div class="contentplanet">
            <div class="zagolovokplanet">Меркурий</div>
            <ul class="krug">
                <li><strong>Возраст:</strong> ~ 4,503 миллиарда лет</li>
                <li><strong>Сутки:</strong> 59 земных суток</li>
                <li><strong>Дней в году:</strong>88 дней </li>
                <li><strong>Расстояние до Солнца:</strong> 57,91 млн км </li>
                <li><strong>Масса:</strong>3,33022⋅10<sup>23</sup> кг (0,06 масс Земли)</li>
                <li><strong>Число спутников:</strong>0 </li>
                <li><strong>Орбитальная скорость:</strong>47,87 км/с (1,64 Земной) </li>
                <li><strong>Скорость вращения:</strong> 10,892 км/ч </li>
                <li><strong>Температура:</strong> дневная —  426,9 °C, ночная — 170,2 °C </li>
                <li> Самая близкая к светилу планета была названа в честь древнеримского бога торговли. Согласно мифам, он имел крылышки на сандалиях и мог передвигаться с огромной скоростью. Поэтому и планету, которая быстрее других движется по небесной сфере, назвали его именем.</li>
               
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Меркурий очень маленький, у него нет атмосферы, в этом смысле он вообще очень похож на Луну. Подсолнечная сторона Меркурия нагрета до очень высокой температуры, а ночная сторона из-за отсутствия атмосферы охлаждается до очень низких температур.

    </center>
    <center align="justify" class="Zagolovok-text">
        Несмотря на то, что Меркурий близко находится к Земле, эта планета мало изучена, потому что лететь к ней очень трудно. Земля со скоростью 30 км/с вращается вокруг Солнца. Получается, будто вы мчитесь на скоростном поезде, а Меркурий — это маленький полустанок, на котором вы не можете сойти: вы его видите, он близко, но поезд несется. Нужно предпринять какие-то специальные усилия, чтобы на нем выскочить. Например, слететь с поезда с ракетным ранцем и отрулить на этот полустанок — использовать очень мощные средства.
    </center>

    <!-- венера -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Венера">Венера</h2>
    </center>
    <div class="containerplanet">
        <div class="imageplanet3"></div>
        <div class="contentplanet">
            <div class="zagolovokplanet">Венера</div>
            <ul class="krug">
                <li><strong>Возраст:</strong> ~ 4,503 миллиарда лет</li>
                <li><strong>Сутки:</strong> 24З земных суток</li>
                <li><strong>Дней в году:</strong>225 дней </li>
                <li><strong>Расстояние до Солнца:</strong>108 млн км </li>
                <li><strong>Масса:</strong>4,87⋅10<sup>24</sup> кг (81,5 % земной)</li>
                <li><strong>Число спутников:</strong>0 </li>
                <li><strong>Орбитальная скорость:</strong>35,02 км/с </li>
                <li><strong>Скорость вращения:</strong> 6,52 км/ч </li>
                <li><strong>Температура:</strong> дневная —  480 °C, ночная — 420</li>
                <li> Венера – это богиня любви. Обычно именно красный цвет, какой имеет планета, ассоциируется с этим чувством. Так же это связанно с тем, что Венера - самая горячая планета в Солнечной системе.</li>

            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Следующая планета от Солнца — Венера. Мы знаем, что у нее есть атмосфера. Впервые ее обнаружил еще Михаил Ломоносов во время очень редкого события — прохождения Венеры по диску Солнца. Так что люди уже довольно давно могли фантазировать о том, что на Венере может быть жизнь. Но на Венере слишком жарко, и атмосфера состоит вовсе не из того, чего хотелось бы земным живым существам. Так что, по всей видимости, жизни на Венере нет.
    </center>
    <center align="justify" class="Zagolovok-text">
        Но чуть больше года назад одна из групп наблюдателей обнаружила в атмосфере Венеры фосфин. Молекула фосфина включает в себя фосфор, а он, в свою очередь, участвует в биологических процессах. Точный ответ дадут только прямые измерения в атмосфере Венеры. Это очень интересно, потому что в течение долгого времени Венера была вычеркнута из списка потенциально обитаемых объектов Солнечной системы.
    </center>

    <!-- земля -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Земля">Земля</h2>
    </center>
    <div class="containerplanet">
        <div class="imageplanet4"></div>
        <div class="contentplanet">
            <div class="zagolovokplanet">Земля</div>
            <ul class="krug">
                <li><strong>Возраст:</strong> ~ 4,543 миллиарда лет</li>
                <li><strong>Сутки:</strong> 23 ч. 56 мин.</li>
                <li><strong>Дней в году:</strong>Невисокосный - 365 дней, високосный - 366 (доб. 29 февраля) </li>
                <li><strong>Расстояние до Солнца:</strong>159 млн км </li>
                <li><strong>Масса:</strong>5,9726⋅10<sup>24</sup> кг</li>
                <li><strong>Число спутников:</strong>1 </li>
                <li><strong>Орбитальная скорость:</strong> 29,78 км/с  </li>
                <li><strong>Скорость вращения:</strong> 674 км/ч </li>
                <li><strong>Температура:</strong> колеблется в пределах от -89,2 до +56,7°C</li>
                <li> Слово «Земля» происходит от «Зем», что означает «низ», «грунт», «почва». Считается, что наши предки так назвали планету, потому что считали земледелие основой существования человечества. Существует довольно распространённое мнение, что об истинном цвете планеты люди узнали только с началом эры космических полётов..</li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Земля — третья планета от Солнца и крупнейшая в земной группе. Уникальные условия Земли позволили развиться на планете жизни.
    </center>
    <center align="justify" class="Zagolovok-text">
        Атмосфера Земли состоит из азота (78%), кислорода (21%), углекислого и других газов (1%). Кислород и азот — необходимые вещества для строительства ДНК. Озоновый слой атмосферы поглощает солнечную радиацию. Кислород на Земле синтезируют растения из углекислого газа. Не будь их, наша планета напоминала бы Венеру. С другой стороны, некоторое количество CO2 в атмосфере обеспечивает на Земле комфортную для жизни температуру.
    </center>
    <center align="justify" class="Zagolovok-text">
        70% поверхности Земли покрыты водой. В отличие от Луны и Меркурия, на Земле очень мало кратеров. Учёные считают, что они исчезли под воздействием ветра и эрозии почвы.
    </center>
    <center align="justify" class="Zagolovok-text">
        Из-за наклона Земной оси (23,45°) на Земле хорошо различимы сезоны года. Для оборота вокруг своей оси Земле требуется чуть менее 24 часов — это самый короткий день среди планет земной группы.
    </center>
    <div class="containersputnik">
    <div class="imagesputnik"></div>
    <div class="contentsputnik">
        <div class="zagolovoksputnik">Спутник Земли: Луна</div>
        <ul class="krugsputnik">
                <li><strong>Возраст:</strong> ~ 4,425 млрд лет</li>
                <li><strong>Расстояние от Земли:</strong> от 356 400 до 406 800 км </li>
                <li><strong>Масса:</strong>	7,3477⋅10<sup>22</sup> кг (1/81 земной)</li>
                <li><strong>Орбитальная скорость:</strong> 1,023 км/с  </li>
                <li><strong>Скорость вращения:</strong> 27,321661 дня </li>
                <li><strong>Температура:</strong> дневная —  120 °C, ночная — -160°C</li>
                <li>Слово “Луна” происходит от праславянского luna (пра-и.е. *louksnā́ “светлая”;<br />В латинском lūna и древнегреческом Селена (Σελήνη), что подчеркивает роль Луны как источника света ночью.;<br />Английское moon происходит от древнеанглийского mōna —  от протогерманского *mēnōn  — от протоиндоевропейского * mēnsis "месяц"</li>
        </ul>
    </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Земля имеет спутник — Луну. Её размер составляет ¼ земного диаметра, что довольно много для спутника. Притяжение Луны влияет на земную воду, вызывая приливы и отливы. Вращение Луны вокруг своей оси и вокруг Земли синхронно, поэтому Луна всегда обращена к Земле только одной стороной.
    </center>
    <center align="justify" class="Zagolovok-text">
        Поверхность Луны окружена тонким слоем газов (экзocфepа). Это: аргон, азот, гелий, неон, водород, метан, аммиак, углекислота. По сравнению с земной атмосферой: плотность в десять триллионов раз меньше.
    </center>

    <!-- марс -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Марс">Марс</h2>
    </center>
    <div class="containerplanet">
        <div class="imageplanet5"></div>
        <div class="contentplanet">
            <div class="zagolovokplanet">Марс</div>
            <ul class="krug">
                <li><strong>Возраст:</strong> ~ 4,603 миллиарда лет</li>
                <li><strong>Сутки: </strong> 24 часа 37 минут и 22 секунды.</li>
                <li><strong>Дней в году:</strong>687 земным суткам </li>
                <li><strong>Расстояние до Солнца:</strong>228 млн км </li>
                <li><strong>Масса:</strong>6.42×10<sup>23</sup> кг</li>
                <li><strong>Число спутников:</strong>2 </li>
                <li><strong>Орбитальная скорость:</strong> 24,13 км/с  </li>
                <li><strong>Скорость вращения:</strong>  868,22 км/ч. </li>
                <li><strong>Температура:</strong> В среднем дневная —  20 °C, ночная — -73°C;</li>
                <li>Свое имя Марс получил из-за того, что он выглядит на небе кроваво-красной точкой, а именно красный цвет был символом бога войны. </li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Марс — четвертая планета от Солнца — меньше Земли почти в два раза. Долгое время считалось, что на красной планете существует жизнь. Люди наблюдали на его поверхности объекты, казавшиеся им постройками, дорогами и даже гигантскими скульптурами. Однако на поверку марсианская цивилизация оказалась обманом зрения. Многочисленные исследовательские миссии пока тоже не подтвердили наличие какой-либо жизни на поверхности планеты. — третья планета от Солнца и крупнейшая в земной группе. Уникальные условия Земли позволили развиться на планете жизни.
    </center>
    <center align="justify" class="Zagolovok-text">
        Атмосфера Марса по составу напоминает венерианскую — 95% углекислого газа. Но поскольку она очень тонкая и разреженная, парникового эффекта не возникает, поэтому максимальная температура поверхности планеты — около 0°C, а атмосферное давление в 160 раз меньше, чем на Земле. В составе марсианской атмосферы есть водяной пар, а на полюсах лежат шапки ледников, но жидкой воды на поверхности нет.
    </center>
    <center align="justify" class="Zagolovok-text">
        И всё же учёные считают Марс самой перспективной планетой для освоения, поскольку погодные условия на ней довольно приемлемы для человека. Если не считать низкое содержание кислорода в атмосфере, радиацию и пылевые бури, длящиеся по несколько месяцев. На Марсе находится самая высокая гора в солнечной системе — вулкан Олимп, высота которого 27 километров. Это в три раза выше Эвереста, высочайшей горы Земли.
    </center>
    <center align="justify" class="Zagolovok-text">
        Наклон оси Марса составляет 25,2°, а значит, на нём, как и на Земле, существуют сезоны. Времен года четыре, как и у нас. Но они отличаются по продолжительности из-за того, что орбита Марса более вытянутая. Так, марсианская весна в северном полушарии длится 7 месяцев, на летний и осенний сезоны приходится около 6 месяцев, а продолжительность зимы составляет 4 месяца. Во время марсианского лета происходит таяние полярной ледяной шапки, а зимой она снова разрастается.
    </center>
    <div class="containersputnik">
        <div class="imagesputnik1"></div>
        <div class="contentsputnik">
            <div class="zagolovoksputnik">Спутник Марса: Фобос</div>
            <ul class="krugsputnik">
                <li><strong>Возраст:</strong> 3,66–4,3 млрд лет</li>
                <li><strong>Расстояние от Марса:</strong> 9,377 км </li>
                <li><strong>Масса:</strong>	1.07×10<sup>16</sup> кг</li>
                <li><strong>Орбитальная скорость:</strong> около 7700 км/час  </li>
                <li><strong>Скорость вращения:</strong>2.138 км/с, </li>
                <li><strong>Температура:</strong> -40°C</li>
                <li>По легенде, у Ареса было два сына – Фобос, бог страха, и Деймос, бог ужаса. В их честь названы два спутника, вращающиеся вокруг Марса.</li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Ближайшим из двух спутников Марса является Фобос. Он был открыт в 1877 году благодаря астроному из США – Асафу Холлу. Космическое тело крупнее своего собрата – Деймоса. Согласно мифологии Древней Греции, Фобос – это божество, которое отвечает за страх. Оно является одним из сыновей богини любви и красоты Афродиты и бога войны Ареса.
    </center>
    <center align="justify" class="Zagolovok-text">
        Фобос – это небольшой естественный спутник Марса, обладающий размерами 27х22х18 км. Он находится на самом близком расстоянии к своей планете в Солнечной системе, всего в 9377 км. Для сравнения, Луна удалена от Земли на 384399 км, что практически в 41 раз дальше. Поверхность испещрена сформировавшимися кратерами, вмятинами и углублениями, за счет чего спутник имеет неправильную эллипсоидную форму с тремя осями. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Фобос можно назвать спутником-карликом. Однако, несмотря на свою миниатюрность, он превосходит размеры Деймоса почти в 2 раза. Благодаря близкому нахождению к своему управителю, Фобос можно наблюдать с поверхности Красной планеты как маленькую яркую точку на марсианском небосводе. 
    </center>
    <div class="containersputnik">
        <div class="imagesputnik2"></div>
        <div class="contentsputnik">
            <div class="zagolovoksputnik">Спутник Марса: Деймос</div>
            <ul class="krugsputnik">
                <li><strong>Возраст:</strong> ~ неизвестен</li>
                <li><strong>Расстояние от Марса:</strong> 23 460 км </li>
                <li><strong>Масса:</strong>1,48·10<sup>15</sup> кг</li>
                <li><strong>Орбитальная скорость:</strong> 4864,5 км/час  </li>
                <li><strong>Скорость вращения:</strong> 20 км/ч </li>
                <li><strong>Температура:</strong> -40°C</li>
                <li>По легенде, у Ареса было два сына – Фобос, бог страха, и Деймос, бог ужаса. В их честь названы два спутника, вращающиеся вокруг Марса.</li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Kaк и у Фoбoca, из-зa нeпpaвильнoй фopмы, cпутник cкopee нaпoминaeт oдин из oбъeктoв пoяca acтepoидoв мeжду Mapcoм и Юпитepoм. Иccлeдoвaния пoкaзaли, чтo cпутник cocтoит тoчнo из тaкиx жe мaтepиaлoв, кaк и oбъeкты в пoяce acтepoидoв. Bepoятнo, лунa тoжe былa кoгдa-тo oдним из тex acтepoидoв и былa пpитянутa гpaвитaциeй Mapca. Heкoтopыe acтpoнoмы пoлaгaют, чтo oбa мapcиaнcкиx cпутникa – этo фpaгмeнты бoлee кpупнoгo нeбecнoгo тeлa, кoтopoe pacкoлoлocь oт cтoлкнoвeния c плaнeтoй. Пpaвдa, выяcнить этo нaвepнякa, cкopee вceгo, нe пoлучитcя никoгдa.
    </center>
    <center align="justify" class="Zagolovok-text">
        Kaк и Фoбoc, Дeймoc – этo впoлнe oбыкнoвeнный кocмичecкий oбъeкт. Ha caмoм дeлe, этo пo cути бoльшoй кaмeнь c нecкoлькими кpaтepaми нa пoвepxнocти. У Дeймoca бoлee poвнaя и глaдкaя пoвepxнocть, у нeгo тaкжe мeньшe кpaтepoв, чeм у дpугoгo cпутникa Фoбoca. Caмый бoльшoй кpaтep имeeт диaмeтpa вceгo двe мили в диaмeтpe, чтo в пять paз мeньшe, чeм paзмepы caмoгo cпутникa.
    </center>
    <center align="justify" class="Zagolovok-text">
        B oтличиe oт Фoбoca, нa Дeймoce нeт пpизнaкoв paзлoмoв нa пoвepxнocти. Cкopee вceгo, этo из-зa тoгo, чтo Дeймoc нaxoдитcя вдвoe дaльшe oт Mapca, чeм eгo бpaт и cилa пpитяжeния oкaзывaeт нa нeгo гopaздo мeньшee влияниe.  Cчитaeтcя, чтo Дeймoc cocтoит из тex жe мaтepиaлoв, чтo и Фoбoc. Этo cмecь вoдянoгo льдa и бoгaтыx углepoдoм гopныx пopoд, кaк и у oбъeктoв типa C пo внeшнeм пoяce acтepoидoв мeжду Mapcoм и Юпитepoм. Ha Дeймoce нeт мaгнитнoгo пoля и кaк cлeдcтвиe этoгo, oтcутcтвуeт aтмocфepa.
    </center>

    <!-- юпитер -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Юпитер">Юпитер</h2>
    </center>
    <div class="containerplanet">
        <div class="imageplanet5"></div>
        <div class="contentplanet">
            <div class="zagolovokplanet">Юпитер</div>
            <ul class="krug">
                <li><strong>Возраст:</strong> ~ 4,503 миллиарда лет</li>
                <li><strong>Сутки:</strong> 9 часам 55 минутам 40 секундам</li>
                <li><strong>Дней в году:</strong>12 земных лет </li>
                <li><strong>Расстояние до Солнца:</strong>778,57 млн км </li>
                <li><strong>Масса:</strong>1,9 ·10<sup>27</sup> кг (318 масс Земли)</li>
                <li><strong>Число спутников:</strong>92</li>
                <li><strong>Орбитальная скорость:</strong> 13 км/с  </li>
                <li><strong>Скорость вращения:</strong>  50тыс. км/ч. </li>
                <li><strong>Температура:</strong> около 325°C;</li>
                <li>Планета Юпитер была названа в честь главного бога древнеримской мифологии Юпитера. Его считали управителем неба, грома и молний, а также богом защиты и покровительства государства и права. Название «Юпитер» было предложено в 1610 году выдающимся астрономом Галилео Галилеем, который открыл четыре крупных спутника этой планеты.</li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Юпитер, самая большая из планет-гигантов, отделена от Марса поясом астероидов. Масса Юпитера в два раза больше, чем масса всех остальных планет, лун, комет и астероидов системы вместе взятых. По яркости на земном небе он уступает только Венере. Люди наблюдали его с древнейших времён и связывали с сильнейшими богами своих пантеонов. Юпитер — имя римского царя богов.   а от Солнца и крупнейшая в земной группе. Уникальные условия Земли позволили развиться на планете жизни.
    </center>
    <center align="justify" class="Zagolovok-text">
        Юпитер является газовым гигантом. Коричневые и белые полосы — это облака соединений серы, которые движутся в атмосфере планеты с чудовищной скоростью. Большое красное пятно Юпитера — гигантский вихрь. С момента его обнаружения в 1664 году он стал заметно меньше, но и теперь в несколько раз превосходит Землю по размерам.
    </center>
    <center align="justify" class="Zagolovok-text">
        О структуре планеты учёные пока только догадываются. Предположительно она состоит из газов, плавно переходящих в металлическое состояние по мере приближения к ядру. Считается, что ядро Юпитера каменное. Сильнейшее в системе магнитное поле Юпитера воздействует на частицы в миллионах километрах вокруг и даже достигает орбиты Сатурна. Это одна из причин огромного числа спутников у планеты.
    </center>
    <center align="justify" class="Zagolovok-text">
    Атмосферный слой гиганта выполнен преимущественно из водорода (92%), остальная часть приходится на гелий (8%). Также незначительную долю веществ над поверхностью составляют фосфин, сера, этан, углерод, неон, сероводород и метан.
    </center>
    <div class="exam_03" align="justify" style="position:center">
        <!-- примечание -->
        На Юпитере имеется повышенный радиационный фон. Находящийся на орбите аппарат Galileo получил дозу излучения, которое в 2500% превышает земную критическую отметку.
    </div>
    <center align="justify" class="Zagolovok-text">
        В 1610 году астроном Галилео Галилей обнаружил четыре крупнейших спутника Юпитера. В наше время известно 92 объектов, вращающихся вокруг планеты. Некоторые из них напоминают Луну, другие выглядят как большие астероиды. Особый интерес представляет Ио — планета с мощнейшими в системе вулканами. Более мелкие частицы образуют вокруг Юпитера кольца, хотя они не так заметны, как у соседнего Сатурна. Первые четыре спутника прозвали “галилеевскими”, в их состав входят:
    </center>
    <div class="containersputnik">
        <div class="imagesputnik3"></div>
        <div class="contentsputnik">
            <div class="zagolovoksputnik">Спутник Юпитера: Ио</div>
            <ul class="krugsputnik">
                <li><strong>Возраст</strong> 1 млн. лет</li>
                <li><strong>Расстояние от Юпитера:</strong> 421 700 км </li>
                <li><strong>Масса:</strong>	8,9319·10<sup>22</sup> кг</li>
                <li><strong>Орбитальная скорость:</strong> 17,334 км/с</li>
                <li><strong>Скорость вращения:</strong>- </li>
                <li><strong>Температура:</strong> -143°C</li>
                <li>Назван в честь мифологической Ио — жрицы Геры и возлюбленной Зевса.</li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Ио - наиболее вулканчики активный спутник Солнечной системы (более 400 действующих вулканов).
    </center>
    <center align="justify" class="Zagolovok-text">
        В 1610-м году Галилео Галилей заметил спутник при помощи обновленного телескопа собственного изобретения. Но он не мог отличить его от Европы, поэтому воспринял как единую световую точку. Но на следующий день разглядел отдельные тела.
    </center>
    <center align="justify" class="Zagolovok-text">
        Это наиболее внутренний спутник среди группы Галилея, а орбитальный путь проходит между Фивой и Европой. Пребывает в приливном блоке и всегда смотрит на Юпитер одной стороной.
    </center>
    <center align="justify" class="Zagolovok-text">
        Мантия на 75% состоит из магния и высокого уровня железа. Литосфера из базальта и серы занимает 12-40 км.
    </center>
    <center align="justify" class="Zagolovok-text">
        Температура также колеблется от -163.15°С до -183.15°С, но максимальная поднимается до 1526.85°С. Уровень атмосферной плотности выше всего в вулканических хребтах, что вызывает пополнение атмосферы. Вулканические шлейфы выступают источником для диоксида серы. В секунду выпускают 104 кг, но большая часть конденсируется к поверхности.
    </center>
    <div class="containersputnik">
        <div class="imagesputnik4"></div>
        <div class="contentsputnik">
            <div class="zagolovoksputnik">Спутник Юпитера: Европа</div>
            <ul class="krugsputnik">
                <li><strong>Возраст</strong> ~ неизвестен</li>
                <li><strong>Расстояние от Юпитера:</strong> 23 460 км </li>
                <li><strong>Масса:</strong>1,48·10<sup>15</sup> кг</li>
                <li><strong>Орбитальная скорость</strong> 4864,5 км/час  </li>
                <li><strong>Скорость вращения:</strong> 20 км/ч </li>
                <li><strong>Температура:</strong> -40°C</li>
                <li>Назван в честь дочери финикийского царя Тира, возлюбленной Зевса (Юпитера).</li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Евро́па (или Юпитер II) — шестой по отдалённости от планеты спутник Юпитера, наименьший из четырёх галилеевых спутников. Обнаружена в 1610 году Галилео Галилеем и, вероятно, Симоном Марием в то же самое время. На протяжении столетий за Европой велись всё более всесторонние наблюдения при помощи телескопов, а начиная с семидесятых годов двадцатого века — и пролетающих вблизи космических аппаратов.
    </center>
    <center align="justify" class="Zagolovok-text">
        По размерам немного уступает Луне, средний радиус Европы составляет 9/10 лунного. Европа состоит в основном из силикатных пород, а в центре содержит железное ядро. Поверхность состоит изо льда и является одной из самых гладких в Солнечной системе; на ней очень мало кратеров, но много трещин. Легко заметная молодость и гладкость поверхности привели к гипотезе, что под ней находится водяной океан, в котором не исключено наличие микроскопической жизни, а кто-то надеется там встретить более сложные формы жизни. Вероятно, океан не замерзает благодаря приливным силам, периодические изменения которых вызывают деформацию спутника и, как следствие, нагрев его недр. Это же служит причиной эндогенной геологической активности Европы, напоминающей тектонику плит. У спутника есть крайне разрежённая атмосфера, состоящая в основном из кислорода.
    </center>
      
    <div class="containersputnik">
        <div class="imagesputnik5"></div>
        <div class="contentsputnik">
            <div class="zagolovoksputnik">Спутник Юпитера: Ганимед</div>
            <ul class="krugsputnik">
                <li><strong>Возраст</strong> 3,66–4,3 млрд лет</li>
                <li><strong>Расстояние от Юпитера:</strong> 9,377 км </li>
                <li><strong>Масса:</strong>	1.07×10<sup>16</sup> кг</li>
                <li><strong>Орбитальная скорость</strong> около 7700 км/час  </li>
                <li><strong>Скорость вращения:</strong>2.138 км/с, </li>
                <li><strong>Температура:</strong> -40°C</li>
                <li>В греческой мифологии Ганимед был троянским царевичем, любимцем Зевса и виночерпием богов.</li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Ганиме́д (др.-греч. Γανυμήδης) — один из галилеевых спутников Юпитера, седьмой по расстоянию от него среди всех его спутников и крупнейший спутник в Солнечной системе. Его диаметр равен 5268 километрам, что на 2 % больше, чем у Титана (второго по величине спутника в Солнечной системе) и на 8 % больше, чем у Меркурия. При этом масса Ганимеда составляет всего 45 % массы Меркурия, но среди спутников планет она рекордно велика. Луну Ганимед превышает по массе в 2,02 раза. Совершая оборот вокруг Юпитера примерно за семь дней, Ганимед участвует в орбитальном резонансе 1:2:4 с двумя другими его спутниками — Европой и Ио.
    </center>
    <center align="justify" class="Zagolovok-text">
        Ганимед состоит из примерно равного количества силикатных пород и водяного льда. Это полностью дифференцированное тело с жидким ядром, богатым железом. Предположительно, в его недрах на глубине около 200 км между слоями льда есть океан жидкой воды. На поверхности Ганимеда наблюдаются два типа ландшафта. Треть поверхности спутника занимают тёмные области, испещрённые ударными кратерами. Их возраст доходит до четырёх миллиардов лет. Остальную площадь занимают более молодые светлые области, покрытые бороздами и хребтами. Причины сложной геологии светлых областей до конца не ясны. Вероятно, она связана с тектонической активностью, вызванной приливным нагревом.
    </center>
    <center align="justify" class="Zagolovok-text">
        Ганимед — единственный спутник в Солнечной системе, обладающий собственной магнитосферой. Скорее всего, её создаёт конвекция в жидком ядре, богатом железом. Небольшая магнитосфера Ганимеда заключена в пределах намного большей магнитосферы Юпитера и лишь немного деформирует её силовые линии. У спутника есть тонкая атмосфера, в состав которой входят такие аллотропные модификации кислорода, как O (атомарный кислород), O2 (кислород) и, возможно, O3 (озон). Количество атомарного водорода (H) в атмосфере незначительно. Есть ли у Ганимеда ионосфера, неясно.
    </center>
    <center align="justify" class="Zagolovok-text">
        Ганимед открыл Галилео Галилей, который увидел его 7 января 1610 года. Вскоре Симон Марий предложил назвать его в честь виночерпия Ганимеда, любовника Зевса. Первым космическим аппаратом, изучавшим Ганимед, стал «Пионер-10» в 1973 году. Намного более детальные исследования провели аппараты программы «Вояджер» в 1979 году. Космический аппарат «Галилео», изучавший систему Юпитера начиная с 1995 года, обнаружил подземный океан и магнитное поле Ганимеда. В 2012 году Европейское космическое агентство одобрило новую миссию для исследований ледяных спутников Юпитера — JUICE; её запуск состоялся 14 апреля 2023 года, прибытие в систему Юпитера планируется в июле 2031 года.
    </center>
    <div class="containersputnik">
        <div class="imagesputnik6"></div>
        <div class="contentsputnik">
            <div class="zagolovoksputnik">Спутник Юпитера: Каллисто</div>
            <ul class="krugsputnik">
                <li><strong>Возраст</strong> 4,5 млрд лет</li>
                <li><strong>Расстояние от Юпитера:</strong>1 882 000 км </li>
                <li><strong>Масса:</strong>1,075⋅10<sup>23</sup> кг</li>
                <li><strong>Орбитальная скорость</strong> 8,204 км/с  </li>
                <li><strong>Скорость вращения:</strong>16,69 суток </li>
                <li><strong>Температура:</strong> -150°C (средняя)</li>
                <li>Назван в честь Каллисто, любовницы Зевса.</li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Калли́сто (лат. Callisto; др.-греч. Καλλιστώ) — второй по размеру спутник Юпитера (после Ганимеда), один из четырёх галилеевых спутников и самый удалённый среди них от планеты. Является третьим по величине спутником в Солнечной системе после Ганимеда и Титана. Был открыт в 1610 году Галилео Галилеем.
    </center>
    <center align="justify" class="Zagolovok-text">
        Каллисто — синхронный спутник: её период вращения вокруг своей оси равен её орбитальному периоду, таким образом, она всегда обращена к Юпитеру одной стороной (находится в приливном захвате).
    </center>
    <center align="justify" class="Zagolovok-text">
        Диаметр Каллисто составляет около 99 % диаметра Меркурия, а масса — всего треть от массы этой планеты. Каллисто имеет среднюю плотность около 1,83 г/см3 и состоит из приблизительно равного количества камня и льдов. Спектроскопия выявила на поверхности Каллисто водяной лёд, углекислый газ, силикаты и органику. Каллисто окружена чрезвычайно разреженной атмосферой, состоящей из углекислого газа и, возможно, из молекулярного кислорода, а также относительно мощной ионосферой.
    </center>
    <center align="justify" class="Zagolovok-text">
        Благодаря низкому уровню радиационного фона в окрестностях Каллисто и её размерам её часто предлагают для основания станции, которая послужит для дальнейшего освоения системы Юпитера человечеством. На 2015 год основной объём знаний об этом спутнике получен аппаратом «Галилео»; другие АМС — «Пионер-10», «Пионер-11», «Вояджер-1», «Вояджер-2», «Кассини» и «Новые горизонты» — изучали спутник во время полёта к другим объектам.
    </center>
    <details>
        <summary>Внутренние спутники Юпитера</summary>
        <p>
            <div class="table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th><button id="id">Порядок</button></th>
                            <th><button id="name">Имя</button></th>
                            <th><button id="foto">Фото</button></th>
                            <th><button id="rasmer">Размеры (км)</button></th>
                            <th><button id="massa">Масса (кг)</button></th>
                            <th><button id="orbitperiod">Орбитальный период</button></th>
                            <th><button id="year">Год открытия</button></th>
                            <th><button id="group">Группа</button></th>
                        </tr>
                    </thead>
                    <tbody id="table-content"></tbody>
                </table>
            </div>  
        </p>
    </details>
    <details>
        <summary>Внешние спутники Юпитера</summary>
        <p>
            <div class="table-container2">
                <table class="data-table2">
                    <thead>
                        <tr>
                            <th><button id="id2">Порядок</button></th>
                            <th><button id="name2">Имя</button></th>
                            <th><button id="foto2">Фото</button></th>
                            <th><button id="rasmer2">Размеры (км)</button></th>
                            <th><button id="massa2">Масса (кг)</button></th>
                            <th><button id="orbitperiod2">Орбитальный период</button></th>
                            <th><button id="year2">Год открытия</button></th>
                            <th><button id="group2">Группа</button></th>
                        </tr>
                    </thead>
                    <tbody id="table-content2"></tbody>
                </table>
            </div>
        </p>
    </details>
    <script src="~/js/child spaceobject.js"></script>
    <center>
        <img src="~/images/orbityi-vneshnih-sputnikov.jpg" style=" width: 850px;  border-radius: 15px; margin-top:10px;" />
    </center>

     <!-- сатурн -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Сатурн">Сатурн</h2>
    </center>
    <div class="containerplanet">
        <div class="imageplanet7"></div>
        <div class="contentplanet">
            <div class="zagolovokplanet">Сатурн</div>
            <ul class="krug">
                <li><strong>Возраст:</strong> ~ 4,5 миллиарда лет</li>
                <li><strong>Сутки:</strong> 10 часов 33 минут и 38 секунд</li>
                <li><strong>Дней в году:</strong>10 759 земных дней (29 земных лет), 24 491 сатурнианских дней </li>
                <li><strong>Расстояние до Солнца:</strong>1,4 млрд км </li>
                <li><strong>Масса:</strong>5.68×10<sup>26</sup> кг (318 масс Земли)</li>
                <li><strong>Число спутников:</strong>112</li>
                <li><strong>Орбитальная скорость:</strong> 9,69 км/с  </li>
                <li><strong>Скорость вращения:</strong>  9,87 км/с. </li>
                <li><strong>Температура:</strong>В самом верхнем слое —150º С. Чуть ниже, в гидросульфитных облаках: –93º С. На уровне с водяным льдом: –23º С</li>
                <li>Планету назвали в честь римского бога сельскохозяйственных земель и времени Сатурна, отца Юпитера</li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Шестая планета от Солнца. Как и спутники Юпитера, Сатурн был обнаружен Галилеем в начале XVII века. На сегодняшний день эта планета остаётся одной из наименее изученных.
    </center>
    <center align="justify" class="Zagolovok-text">
        Атмосфера Сатурна состоит из водорода (96%) и гелия (4%) с незначительными вкраплениями других газов. Скорость ветра на Сатурне достигает 1 800 км/ч — это самые сильные ветра в системе. Облака в его атмосфере тоже образуют полосы и пятна гигантских вихрей, хоть и менее заметные, чем на Юпитере. О происходящем за атмосферным слоем планеты известно мало. Предположительно, в центре находится металлосиликатное ядро, окружённое спрессованными до состояния металла газами, плотность которых уменьшается по мере удаления от ядра.
    </center>
    <div class="exam_03" align="justify" style="position:center">
        <!-- примечание -->
        На Сатурне периодически появляются бури, размер которых может превосходить габариты Земли.
    </div>
    <center align="justify" class="Zagolovok-text">
        Планета находится в 9,5 раз дальше от Солнца, чем Земля, и делает оборот вокруг звезды за 29,5 земных лет. Наклон оси Сатурна напоминает земной. По скорости вращения вокруг своей оси Сатурн уступает только Юпитеру. Как и у других газовых гигантов, скорость вращения на разных широтах у планеты разная. Это происходит потому, что поверхность Сатурна текучая, а не твёрдая. Плотность Сатурна так мала, что он мог бы плавать на поверхности воды.
    </center>
    <center align="justify" class="Zagolovok-text">
        Главная особенность Сатурна — впечатляющая система из семи колец. Они состоят из миллиардов ледяных осколков, которые отлично отражают свет, а потому хорошо заметны. Радиус колец огромен — 73 000 километров, а толщина — всего 1 километр. Считается, что эти кольца — осколки спутника, разрушенного гравитацией планеты. На данный момент известно семь колец газового гиганта. Для удобства они назывались буквами английского алфавита по мере их открытия: A, B, C, D, E, F и G. При рассмотрении Сатурна в телескоп с поверхности Земли хорошо заметны только A, B и C.
    </center>
    <center>
        <img src="~/images/saturnkolca_5_t5.jpg" style=" width: 550px;  border-radius: 15px; margin-top:10px;" />
    </center>
    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="">Происхождение колец</h2>
    </center>
    <center align="justify" class="Zagolovok-text">
        Существует 2 основные гипотезы:
        <ul>
            <li>Кольца сформировались из остатков околопланетного облака вещества, которые из-за непостоянства притяжения Сатурна не смогли, как у других планет, стать полноценным спутником. В спутники превратились лишь внешние области этого облака, тогда как частицы из внутренних, вращаясь слишком быстро и беспорядочно, претерпевали чрезмерно сильные соударения, постепенно измельчаясь и становясь всё более рыхлыми</li>
            <li>Кольца появились в результате разрушения крупного спутника из-за столкновения с метеоритом, крупной кометой или астероидом. Разрушение могло произойти и из-за гравитационного влияния самого Сатурна, когда орбита спутника оказывалась ниже предела Роша</li>
        </ul>
    </center>
    <center class="blockopredelenie" align="justify" style="position:center">
        <!-- определение -->
        <strong>Преде́л Ро́ша</strong> радиус круговой орбиты спутника, обращающегося вокруг небесного тела, на котором приливные силы, вызванные гравитацией центрального тела, равны силам самогравитации спутника.
    </center>
    <center align="justify" class="Zagolovok-text">
        Первый спутник был открыт голландским математиком и астрономом Христианом Гюйгенсом в 1655 году. Им стал могучий Титан, крупнейшая луна Сатурна и вторая в Солнечной системе, после Ганимеда. Джованни Кассини заметил через свой телескоп сразу четыре объекта: Япет – в 1671, Рею – в 1672, Диону и Тефию – в 1684 году. Для открытия следующих двух лун – Мимаса и Энцелада – понадобилось более ста лет, их рассмотрел Уильям Гершель. Восьмую луну – Гиперион – нашел директор Гарвардской обсерватории Уидьям Бонд в 1848 году.
        </center>
    <center align="justify" class="Zagolovok-text">
        У Сатурна на май 2023 года известно 146 спутников, в том числе открытые до полёта «Вояджеров». В порядке удалённости от планеты:
    </center>
    <div class="containersputnik">
        <div class="imagesputnik7"></div>
        <div class="contentsputnik">
            <div class="zagolovoksputnik">Спутник Сатурна: Мимас</div>
            <ul class="krugsputnik">
                <li><strong>Возраст</strong> ~4,6 млрд лет</li>
                <li><strong>Расстояние от Сатурна:</strong> 181 900 км </li>
                <li><strong>Масса:</strong>	3,75×10<sup>19</sup> кг</li>
                <li><strong>Орбитальная скорость</strong>14,28 км/с  </li>
                <li><strong>Температура:</strong> от −220 до −170 °C</li>
                <li>Мимас, также известный как Мимант, является одним из ста пятидесяти змееногих гигантов в греческой мифологии. Он сын Урана и Геи, брат гекатонхейров, циклопов и титанов. </li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Плoтнocть в 1.1479 г/cмЗ укaзывaeт нa тo, чтo тeлo пpeдcтaвлeнo вoдяным льдoм и нeбoльшим oбъeмoм cиликaтнoй пopoды. Пpиливныe cилы вытягивaют cпутник Mимac, из-зa чeгo нaибoлee длиннaя ocь пpeвышaeт кopoткую нa 10%. Пpи диaмeтpe в З96 км cчитaeтcя нaимeньшим нeбecным тeлoм, кoтopoму удaлocь дocтичь гpaвитaциoннoгo бaлaнca.
    </center>
    <center align="justify" class="Zagolovok-text">
        Moжнo нaйти З paзнoвиднocти пoвepxнocтныx ocoбeннocтeй: кpaтepы, чacмaты (пpoпacти) и кaтeны (кpaтepныe цeпoчки). Чaщe вceгo вcтpeчaютcя кpaтepы, мнoгиe из кoтopыx пoявилиcь eщe c дpeвниx вpeмeн.
    </center>
    <center align="justify" class="Zagolovok-text">
        Caмым пpимeчaтeльным cчитaeтcя кpaтep Гepшeль. Имeннo oн дeлaeт cпутник пoxoжим нa извecтную Звeзду Cмepти из «Звeздныx вoин». Bытягивaeтcя в диaмeтpe нa 1З0 км. Cтeны в выcoту дocтигaют 5 км, глубинa – 10 км, a цeнтpaльный пик вoзвышeн нa 6 км. Ecли cpaвнивaть в мacштaбax, тo у нac oн в диaмeтpe oxвaтил бы 4000 км (шиpe Aвcтpaлии).
    </center>

    <div class="containersputnik">
        <div class="imagesputnik8"></div>
        <div class="contentsputnik">
            <div class="zagolovoksputnik">Спутник Сатурна: Энцелад</div>
            <ul class="krugsputnik">
                <li><strong>Возраст</strong> ~4,6 млрд лет</li>
                <li><strong>Расстояние от Сатурна:</strong> 237 378 км  </li>
                <li><strong>Масса:</strong>	1.08х10<sup>20</sup> кг</li>
                <li><strong>Орбитальная скорость</strong> 0,239 км/с  </li>
                <li><strong>Температура:</strong> -200 °C</li>
                <li>Энцелад, титан из греческой мифологии, был одним из Гигантов, рожденных от союза Геи (Земли) и Урана (Неба). </li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Энцела́д (др.-греч. Ἐγκέλαδος, англ. Enceladus) — шестой по размеру спутник Сатурна и четырнадцатый по удалённости от него среди 146 известных его спутников. Обозначается как Сатурн II. Является семнадцатым по величине спутником в Солнечной системе. Был открыт в 1789 году Уильямом Гершелем, но оставался малоизученным до начала 1980-х годов, когда с ним сблизились два межпланетных зонда «Вояджер».
    </center>
    <center align="justify" class="Zagolovok-text">
        Энцелад отражает примерно 80% [иногда пишут - 100%] света, поскольку покрыт льдом (cамая белоснежная поверхность в Солнечной системе). Поэтому температура там остается очень низкой - минус 200 градусов по Цельсию. Это одна из самых холодных лун Сатурна. Тем не менее, это еще один спутник Сатурна, являющийся объектом в Солнечной системе, наиболее подходящим для роли «колыбели жизни». Несмотря на то, что спутник представляет собой своеобразный «ледяной мир» (температура на его поверхности не превышает -180 градусов по Цельсию),
    </center>
    <center align="justify" class="Zagolovok-text">
        Обнаруженные трещины, разломы, "горные хребты" могут указывать на наличие у спутника какого-то действенного внутреннего источника тепла. Это позволяет уподобить Энцелад юпитерианской луне Европе (они и внешне похожи, но Энцелад в 6 раз меньше) и предположить, что он также обладает океаном, скрытым под ледяным панцирем.
    </center>

    <div class="containersputnik">
        <div class="imagesputnik9"></div>
        <div class="contentsputnik">
            <div class="zagolovoksputnik">Спутник Сатурна: Тефия</div>
            <ul class="krugsputnik">
                <li><strong>Возраст</strong> ~4,6 млрд лет</li>
                <li><strong>Расстояние от Сатурна:</strong> 295 000 км </li>
                <li><strong>Масса:</strong>	6,1745×10<sup>20</sup> кг</li>
                <li><strong>Орбитальная скорость</strong> 0,394 км/с  </li>
                <li><strong>Температура:</strong> -187 °C</li>
                <li> Он получил своё название в честь титаниды Тефии—, дочь Урана и Геи, сестра и супруга Океана. Ассоциируется с плодородием и заботой о потомстве.</li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
    Те́фия (др.-греч. Τηθύς; латинизированная форма Те́тис, Tethys) — пятый по размеру и массе спутник Сатурна и пятнадцатый по удалённости от планеты. Это спутник средней величины, его диаметр составляет около 1060 км.
    </center>
    <center align="justify" class="Zagolovok-text">
        Тефия имеет сравнительно низкую плотность (0,98 г/см³), что указывает на то, что она состоит преимущественно из водяного льда с малой примесью камня. Её поверхность, согласно спектроскопическим данным, состоит изо льда почти полностью, но содержит и немного тёмного вещества неизвестного состава. Поверхность Тефии очень светлая (это второй по альбедо спутник Сатурна после Энцелада) и почти не имеет цветового оттенка.
    </center>
    <center align="justify" class="Zagolovok-text">
        ефия усеяна множеством кратеров, крупнейший из которых — 450-километровый Одиссей. Вдоль 3/4 окружности спутника тянется гигантский каньон длиной более 2000 км и шириной около 100 км — каньон Итака. Эти две крупнейшие детали рельефа могут быть связаны происхождением. Небольшую часть поверхности Тефии занимает гладкая равнина, которая могла образоваться вследствие криовулканической активности. Как и другие регулярные спутники Сатурна, Тефия сформировалась из газопылевого диска, окружавшего Сатурн первое время после его образования.
    </center>

    <div class="containersputnik">
        <div class="imagesputnik10"></div>
        <div class="contentsputnik">
            <div class="zagolovoksputnik">Спутник Сатурна: Диона</div>
            <ul class="krugsputnik">
                <li><strong>Возраст</strong> ~4,6 млрд лет</li>
                <li><strong>Расстояние от Сатурна:</strong> 377 000 км </li>
                <li><strong>Масса:</strong>	1,09*10<sup>21</sup> кг</li>
                <li><strong>Орбитальная скорость</strong> 0,51 км/с.  </li>
                <li><strong>Температура:</strong> -186 °C</li>
                <li>Спутник Диона был назван в честь богини Дионы из древнегреческой мифологии, возлюбленной Зевса и богини дождя.</li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Дио́на (др.-греч. Διώνη, лат. Dione), или Сатурн IV — четвёртый по величине спутник Сатурна и четвёртый по удалённости от планеты среди семи наиболее крупных спутников последней. Является пятнадцатым по массе и величине спутником в Солнечной системе.
    </center>
    <center align="justify" class="Zagolovok-text">
        Диона очень похожа на другой спутник Сатурна — Рею. Оба тела имеют схожие состав, альбедо и характеристики поверхности. У обоих спутников резко различаются ведущее и заднее полушария (такое деление обусловлено тем, что спутники всегда повёрнуты к Сатурну одной стороной и одно из полушарий «смотрит» в сторону движения спутника по орбите).

        Диона состоит преимущественно из водяного льда со значительной примесью каменных пород во внутренних слоях (судя по плотности спутника).
    </center>

    <div class="containersputnik">
        <div class="imagesputnik11"></div>
        <div class="contentsputnik">
            <div class="zagolovoksputnik">Спутник Сатурна: Рея</div>
            <ul class="krugsputnik">
                <li><strong>Возраст</strong> ~4,6 млрд лет</li>
                <li><strong>Расстояние от Сатурна:</strong> 527 000 км </li>
                <li><strong>Масса:</strong>	2,3*10<sup>21</sup> кг</li>
                <li><strong>Орбитальная скорость</strong> 7,5 км/сек  </li>
                <li><strong>Температура:</strong> - 174— -220 °C</li>
                <li>Назван в честь титаниды Реи, матери олимпийских богов в древнегреческой мифологии</li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Ре́я (лат. Rhea, др.-греч. Ῥέα) — второй по величине спутник Сатурна, девятый по величине и десятый по массе спутник в Солнечной системе. Пятый по отдалённости от Сатурна среди семи его крупных спутников.
    </center>

    <center align="justify" class="Zagolovok-text">
        Рея была открыта Джованни Кассини в 1672 году. Кассини назвал 4 открытых им спутника Сатурна «звёздами Людовика» (лат. Sidera Lodoicea) в честь короля Франции Людовика XIV. Астрономы долго называли Рею просто пятым спутником Сатурна (Saturn V).

        Современное название спутника, данное в честь титаниды Реи, предложил в 1847 году Джон Гершель в соответствии со своей идеей назвать семь известных на тот момент спутников Сатурна по именам титанов — братьев и сестёр Кроноса (аналога Сатурна в греческой мифологии).
    </center>
    <center align="justify" class="Zagolovok-text">
        Ведущее полушарие Реи сильно кратерировано и однородно светлое. Заднее полушарие содержит тёмные участки, а также сеть ярких тонких полосок. Первоначально полагали, что они образовались в результате выброса на поверхность воды или льда (например, в результате криовулканизма). Однако данные «Кассини» показали, что они, как и схожие (но более выраженные) образования на Дионе, представляют собой не выбросы вещества, а тектонические объекты, образовавшиеся от растяжения поверхности, — ледяные хребты и обрывы.
    </center>

    <div class="containersputnik">
        <div class="imagesputnik12"></div>
        <div class="contentsputnik">
            <div class="zagolovoksputnik">Спутник Сатурна: Титан</div>
            <ul class="krugsputnik">
                <li><strong>Возраст</strong> ~4,6 млрд лет</li>
                <li><strong>Расстояние от Сатурна:</strong> 1 221 870 км </li>
                <li><strong>Масса:</strong>	1.35×10<sup>23</sup> кг</li>
                <li><strong>Орбитальная скорость</strong> 5,57 км/с.  </li>
                <li><strong>Температура:</strong> - 170—180 °C</li>
                <li>Титаны повелевали Землей и стали прародителями олимпийских богов. Именно поэтому крупнейший спутник Сатурна назвали Титаном. </li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Тита́н (др.-греч. Τιτάν) — крупнейший спутник Сатурна, второй по величине спутник в Солнечной системе (после спутника Юпитера Ганимеда), является единственным, кроме Земли, телом в Солнечной системе, для которого доказано стабильное существование жидкости на поверхности, и единственным спутником планеты, обладающим плотной атмосферой.
    </center>
    <div class="exam_03" align="justify" style="position:center">
        <!-- примечание -->
        Титан стал первым известным спутником Сатурна — в 1655 году его обнаружил голландский астроном Христиан Гюйгенс.
    </div>

    <div class="containersputnik">
        <div class="imagesputnik13"></div>
        <div class="contentsputnik">
            <div class="zagolovoksputnik">Спутник Сатурна: Япет</div>
            <ul class="krugsputnik">
                <li><strong>Возраст</strong> ~4,6 млрд лет</li>
                <li><strong>Расстояние от Сатурна:</strong> 3 561 000 км </li>
                <li><strong>Масса:</strong>	1,806*10<sup>21</sup> кг</li>
                <li><strong>Орбитальная скорость</strong>3,3 км/с (за 79,3 дня)  </li>
                <li><strong>Температура:</strong> - 175— -135 °C</li>
                <li>Спутник Япет назван в честь титана Япета из древнегреческой мифологии. Япет был сыном Урана, отцом Прометея и Атланта, а также предком человечества</li>
            </ul>
        </div>
    </div>

    <center align="justify" class="Zagolovok-text">
        Япе́т (др.-греч. Ἰαπετός) — третий по величине спутник Сатурна и двадцать четвёртый по расстоянию от него из 146 известных его спутников. Известен также как Сатурн VIII. Самый далёкий от Сатурна среди семи его крупнейших спутников. Является одиннадцатым по величине спутником в Солнечной системе. Этот спутник открыл Джованни Доменико Кассини в 1671 году.
    </center>
    <center align="justify" class="Zagolovok-text">
        Ведущее (переднее) полушарие Япета чёрное, как копоть (альбедо 0,03—0,05) *(Альбедо (от лат. albus «белый») — характеристика диффузной отражательной способности поверхности.), а ведомое (заднее), имея альбедо около 0,5—0,6, блестит почти столь же ярко, как свежевыпавший снег, и соперничает с одним из самых ярких объектов в Солнечной системе — спутником Юпитера Европой.
        Другая уникальная особенность Япета — ряд горных хребтов и отдельных вершин, который тянется вдоль его экватора и известен как стена Япета.
    </center>

    <!-- уран -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Уран">Уран</h2>
    </center>
    <div class="containerplanet">
        <div class="imageplanet8"></div>
        <div class="contentplanet">
            <div class="zagolovokplanet">Уран</div>
            <ul class="krug">
                <li><strong>Возраст:</strong> ~ 4,503 млрд лет</li>
                <li><strong>Сутки:</strong> 17 часов 14 минут 23 секунд</li>
                <li><strong>Дней в году:</strong>30 589 земных дней (84 земных года)</li>
                <li><strong>Расстояние до Солнца:</strong>19,1914 а.е. (2,8 млрд км)</li>
                <li><strong>Масса:</strong> 8,683 * 10<sup>25</sup> кг</li>
                <li><strong>Число спутников:</strong>28</li>
                <li><strong>Орбитальная скорость:</strong> 6,81 км/с  </li>
                <li><strong>Скорость вращения:</strong> 2,59 км/с (9 324 км/ч) </li>
                <li><strong>Температура:</strong> –224º С</li>
                <li>Назван в честь греческого бога неба Урана, отца Крона (Сатурна) и деда Зевса (Юпитера). </li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Ура́н — планета Солнечной системы, седьмая по удалённости от Солнца, третья по диаметру и четвёртая по массе. Была открыта в 1781 году английским астрономом Уильямом Гершелем. В 1986 году его достиг единственный космический аппарат — «Вояджер-2».
    </center>
    <center align="justify" class="Zagolovok-text">
        Атмосфера планеты окрашена в однородный сине-зелёный цвет. Учёные предполагают, что такой её делает метан. Ядра Урана и Нептуна предположительно состоят изо льдов, поэтому их называют «ледяными гигантами». Уран — самая холодная планета в системе: средняя температура его поверхности составляет −224°C. Скорость ветра на Уране достигает 900 км/ч. Солнечный свет летит до Урана чуть менее трёх часов, а год на планете равен 84 земным.
    </center>
    <center align="justify" class="Zagolovok-text">
        Как и Сатурн, Уран окружён кольцами. Они не столь яркие и расположены под углом около 90° к орбите, в то время как сама планета вращается «на боку» (угол отклонения оси — 99°). В результате половину уранианского года на южном полушарии длится день, а на южном — ночь. А следующие полгода — наоборот.
    </center>
    <center align="justify" class="Zagolovok-text">
        Подобно Венере, Уран вращается вокруг своей оси по часовой стрелке. На настоящий момент известно 23 спутника Урана, все покрыты льдом. Уран назван именем древнегреческого бога неба, отца Сатурна, и продолжает «семейную» линию.
    </center>

    <!-- нептун -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Нептун">Нептун</h2>
    </center>
    <div class="containerplanet">
        <div class="imageplanet9"></div>
        <div class="contentplanet">
            <div class="zagolovokplanet">Нептун</div>
            <ul class="krug">
                <li><strong>Возраст:</strong> ~ 4,5 млрд лет</li>
                <li><strong>Сутки:</strong> 16 часов</li>
                <li><strong>Дней в году:</strong>165 земным годам (60,190 дня)</li>
                <li><strong>Расстояние до Солнца:</strong>30,1 а.е. (4,55 млрд км)</li>
                <li><strong>Масса:</strong> 1.02×10<sup>26</sup> кг</li>
                <li><strong>Число спутников:</strong>28</li>
                <li><strong>Орбитальная скорость:</strong> 5,4349 км/с  </li>
                <li><strong>Скорость вращения:</strong>2,68 км/с (9648 км/ч) </li>
                <li><strong>Температура:</strong> –220º С</li>
                <li>Планета Нептун названа в честь римского бога Нептуна (греческое имя Посейдон), повелителя морей и океанов, брата верховного бога-громовержца Зевса. </li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Нептун находится так далеко, что его нельзя увидеть с Земли невооружённым глазом. Он был открыт в 1846 году, когда астрономы искали планету, вызывающую орбитальные отклонения Урана.
    </center>
    <center align="justify" class="Zagolovok-text">
        Достоверные данные о Нептуне получены «Вояджером-2» в 1989 году. Верхние слои его атмосферы состоят из водорода (80%), гелия (19%) и метана (1%). Именно обилием метана объясняется сине-голубое свечение планеты.
    </center>
    <center align="justify" class="Zagolovok-text">
        Раз в несколько лет в атмосфере планеты появляются и исчезают тёмные пятна штормов. Предположительно в центре Нептуна — ледяное ядро, а мантия состоит из жидкой смеси воды и аммиака. Средняя температура поверхности — −214°С.
    </center>
    <center align="justify" class="Zagolovok-text">
        Солнечный свет достигает Нептуна почти за 5 часов, а нептунианский год равен 165 земным. Полный оборот вокруг своей оси планета делает довольно быстро — сутки длятся всего 17 часов. Наклон оси Нептуна близок к земному — 28°.
    </center>
    <center align="justify" class="Zagolovok-text">
        На настоящий момент учёные знают о 14 спутниках Нептуна, лишь один из которых (Тритон) обладает сферической формой. Это единственный в системе крупный спутник с обратным вращением. У Нептуна есть три кольца, хотя выражены они слабо.
    </center>
    <center align="justify" class="Zagolovok-text">
        За глубокий синий цвет планета была названа именем древнеримского бога морей.
    </center>

  
    <!-- Пояс койпера -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Пояс койпера">Пояс койпера</h2>
    </center>
    <center align="justify" class="Zagolovok-text">
        <strong>Астроном Дэвид Джевитт об открытии первых объектов пояса Койпера, облаке Оорта и происхождении комет</strong>
    </center>
    <center align="justify" class="Zagolovok-text">
        В 1992 году астроном Дэвид Джевитт обнаружил объект 1992 QB1 за пределами Солнечной системы. В течение следующих пяти лет он обнаружил еще 40 — 50 подобных объектов. К середине 2016 года число найденных объектов составило 2000. Область обнаруженных объектов получила название «Пояс Койпера».
    </center>
    <center>
        <img src="~/images/8585.jpg"  style=" width: 850px;  border-radius: 15px; margin-top:10px;" />
    </center>
    <center class="blockopredelenie" align="justify" style="position:center">
        <!-- определение -->
        <strong>Пояс Ко́йпера</strong> (иногда также называемый пояс Э́джворта — Койпера) — область Солнечной системы от орбиты Нептуна (30 а. е. от Солнца) до расстояния около 55 а. е. от Солнца[1]. Хотя пояс Койпера похож на пояс астероидов, он примерно в 20 раз шире и в 20—200 раз массивнее последнего[2][3]. Как и пояс астероидов, он состоит в основном из малых тел, то есть материала, оставшегося после формирования Солнечной системы. В отличие от объектов пояса астероидов, которые в основном состоят из горных пород и металлов, объекты пояса Койпера (ОПК) состоят главным образом из летучих веществ (называемых льдами), таких как метан, аммиак и вода.
    </center>
    <center align="justify" class="Zagolovok-text">
        Ученые на данный момент не знают, где он заканчивается. Мы не знаем, что происходит на наружном крае пояса Койпера и где он находится, но мы знаем, что он очень далеко: некоторые открытые объекты пояса Койпера имеют необычные орбиты, которые в 2000 раз больше, чем расстояние между Землей и Солнцем.
    </center>
    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Открытие пояса Койпера">Открытие пояса Койпера</h2>
    </center>
    <center align="justify" class="Zagolovok-text">
        Никто не предсказывал обнаружение пояса Койпера. Никто не писал работу, в которой бы говорилось: «Ищите здесь объекты такой-то яркости, такого-то размера и в таком-то количестве». Но были предположения. Самое известное из них — это предположение Джерарда Койпера, американского астронома голландского происхождения. В 1951 году он написал работу, в которой говорил, что это странно, что Солнечная система заканчивается на Плутоне, и, возможно, она продолжается и после него. Это звучит нормально для современных читателей. Но, кроме того, Койпер сказал: «Если бы на границе Солнечной системы были маленькие объекты, гравитация Плутона (которого мы считаем таким же массивным небесным телом, как Земля, или больше) давным-давно дестабилизировала бы орбиты этих объектов, а этот регион был бы пуст». Койпер был неправ насчет Плутона: он не так массивен, содержит только 0,2% массы Земли и не оказывает такого эффекта на окружающие небесные тела. Ирония состоит в том, что Койпер не предположил существования того, что впоследствии стало называться поясом Койпера. Он предположил, что его там нет. Это пример закона Стиглера: «Никакое научное открытие не было названо в честь первооткрывателя». Закон Стиглера был открыт Робертом Мертоном, что доказывает это утверждение.
    </center>
    <center>
        <img src="~/images/ivfjduq8phldgmw5wfmrl1i3vs89t6tq.jpg" style=" width: 300px;  border-radius: 15px; margin-top:10px;" />
    </center>
    <center align="justify" class="Zagolovok-text">
        До Койпера ученые также выдвигали разные предположения. Одно из них было сделано в 1943 году во время Второй мировой войны ирландцем по имени Кеннет Эджворт. Он написал одно или два предложения в своей статье и сказал: «Возможно, есть какие-то небесные тела на крае Солнечной системы, которые слишком тусклые, чтобы мы их увидели (он назвал их кластерами), и, возможно, они относятся к кометам». Но это не научное предположение, оно ни на чем не основано, и с ним ничего нельзя сделать. Это напоминает записи Нострадамуса, который в XVI веке случайно предсказал Вторую мировую войну и убийство президента Кеннеди. Если вы пишете что-то расплывчатое, вы оставляете для будущих поколений простор для раздумий. Кто-то может решить, что вы знали, о чем говорили, хотя на самом деле это было не так.
    </center>
    <center align="justify" class="Zagolovok-text">
        Когда мы начали искать пояс Койпера в 1986 году, компьютеры были такими слабыми, что никто не мог вычислить динамику Солнечной системы. Нужно было работать с приблизительными цифрами, которые складывались аналитически, а это очень сложно. В то время был большой интерес к тому, откуда приходят короткопериодические кометы, потому что их предполагаемый источник — облако Оорта — еще не был найден. Уругвайский астроном Хулио Фернандез написал статью в 1980 году, предположив, что за Нептуном может существовать область, откуда приходят короткопериодические кометы. Эта статья уже была похожа на научное предположение. В отличие от работ Койпера и Эджворта, она кажется убедительной в ретроспективе. Но она не мотивировала ученых на поиски, включая нас. Звучит плохо, но это была просто еще одна статья.
    </center>
    <!-- Карликовая планета Плутон -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Карликовая планета Плутон">Карликовая планета Плутон</h2>
    </center>
    <center align="justify" class="Zagolovok-text">
        Плутон — самая крупная из известных карликовых планет Солнечной системы. Он расположен в поясе Койпера — зоне за орбитой Нептуна, где находятся несколько сотен тысяч каменистых и ледяных тел размером более 100 км в диаметре, а также больше 1 трлн комет. Раньше Плутон считался девятой планетой Солнечной системы.
    </center>
    <center align="justify" class="Zagolovok-text">
        Из-за того, что Плутон находится очень далеко от Земли, его характеристики были малоизвестны до 2015 года, когда исследовательский аппарат NASA New Horizons совершил близкий облет карликовой планеты.
    </center>
    <div class="containerplanet">
        <div class="imageplanet10"></div>
        <div class="contentplanet">
            <div class="zagolovokplanet">Плутон</div>
            <ul class="krug">
                <li><strong>Возраст:</strong> ~ 4,5 млрд лет</li>
                <li><strong>Сутки:</strong> 16 часов</li>
                <li><strong>Дней в году:</strong>165 земным годам (60,190 дня)</li>
                <li><strong>Расстояние до Солнца:</strong>30,1 а.е. (4,55 млрд км)</li>
                <li><strong>Масса:</strong> 1.02×10<sup>26</sup> кг</li>
                <li><strong>Число спутников:</strong>28</li>
                <li><strong>Орбитальная скорость:</strong> 5,4349 км/с  </li>
                <li><strong>Скорость вращения:</strong>2,68 км/с (9648 км/ч) </li>
                <li><strong>Температура:</strong> –220º С</li>
                <li>Планета Нептун названа в честь римского бога Нептуна (греческое имя Посейдон), повелителя морей и океанов, брата верховного бога-громовержца Зевса. </li>
            </ul>
        </div>
    </div>
    <center align="justify" class="Zagolovok-text">
        Наблюдения за поверхностью Плутона с помощью New Horizons позволили выявить множество ее особенностей. К ним относятся горы высотой до 3,5 км, что сравнимо с Алтайскими горами. Хотя азотный лед и гидрат метана покрывают большую часть площади Плутона, эти материалы недостаточно прочны, чтобы поддерживать такие вершины. В связи с этим ученые предполагают, что горы образовал водяной лед из глубин карликовой планеты.
    </center>
    <center align="justify" class="Zagolovok-text">
        Плутон обладает рельефом в виде ледяных гряд, которые напоминают змеиную кожу. Другой отличительной особенностью поверхности карликовой планеты является большая область в форме сердца, неофициально называемая «областью Томбо» в честь открывшего Плутон астронома Клайда Томбо. Она покрыта разными типами льда.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Когда открыли Плутон
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Американский астроном Персиваль Лоуэлл впервые предположил существование Плутона в 1905 году, когда заметил странные отклонения в орбитах Нептуна и Урана. Лоуэлл решил, что на эти расхождения влияет другой объект с достаточной гравитацией. В 1915 году он предсказал местоположение загадочной планеты, но не доказал ее существование. В итоге Плутон был открыт в 1930 году американским астрономом Клайдом Томбо на основе предсказаний Лоуэлла и в обсерватории Лоуэлла.
    </center>
    <center align="justify" class="Zagolovok-text">
        Свое название Плутон получил благодаря 11-летней английской школьнице Венеции Берни. После открытия развернулась дискуссия, какое имя должна получить карликовая планета. Дедушка Берни, библиотекарь Оксфордского университета, прочитал об этом в газете и рассказал внучке. Та предложила «Плутон» (в честь древнеримского бога подземного мира). Он направил идею в обсерваторию Лоуэлла, где Клайд Томбо одобрил название: с одной стороны, оно продолжало традицию наименования планет Солнечной системы, а с другой — начиналось с инициалов Персиваля Лоуэлла.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Плутон: планета или нет
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Долгое время ученые считали Плутон уникальной планетой. Однако астрономы постепенно узнавали больше о поясе Койпера и в итоге выяснили, что существует множество подобных Плутону объектов. После этих находок исследователям пришлось пересмотреть определение «планеты». Для этого члены Международного астрономического союза выработали три четких правила:
        <ul>
            <li>объект должен вращаться вокруг Солнца;</li>
            <li>объект должен быть достаточно массивным, чтобы иметь приблизительно сферическую форму;</li>
            <li>на орбите объекта не должно быть небесных тел, которые были бы сопоставимы по массе с его собственной.</li>
        </ul>
    </center>
    <center align="justify" class="Zagolovok-text">
        Плутон соответствует первым двум из этих критериев. Однако по третьему он провалился — даже один из его спутников, Харон, всего в два раза меньше. Для сравнения: Луна составляет 27% Земли.
    </center>
    <center align="justify" class="Zagolovok-text">
        С Плутоном по размеру сопоставимы карликовая планета Орк и транснептуновый объект Гун-Гун. В августе 2006 года Плутон был признан крупнейшей карликовой планетой и выписан из большой «девятки» Солнечной системы.
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="glava4">Движение объектов солнечной системы</h2>
    </center>
    <center class="blockopredelenie" align="justify" style="position:center"><!-- определение -->
        <strong>Орби́та</strong> (от лат. orbita «колея, дорога, путь») — траектория движения материальной точки в заданной системе пространственных координат для заданной конфигурации поля сил, которые на точку действуют. То есть орбита — это путь, траектория, по которой перемещается космическое тело.
    </center>
    <center align="justify" class="Zagolovok-text">
        Все объекты солнечной системы вращаются вокруг Солнца по эллиптическим орбитам. Наиболее близкую к Солнцу точку орбиты называют перигелием, а самую удалённую — афелием.
    </center>
    <center align="justify" class="Zagolovok-text">
        Орбиты планет расположены приблизительно в одной плоскости, поэтому периодически на Земном небе можно наблюдать Парад планет — явление, при котором несколько небесных тел будто бы выстраиваются в одну линию на небольшом угловом расстоянии друг от друга.
    </center>
    <center>
        <img src="~/images/img-wj2dj1.png"  style=" width: 850px;  border-radius: 15px; margin-top:10px;" />
    </center>

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="glava5">Межпланетное пространство</h2>
    </center>
    <center class="blockopredelenie" align="justify" style="position:center"><!-- определение -->
        <strong>Межплане́тное простра́нство</strong> — область космического пространства, ограниченная орбитой наиболее удалённой от звезды планеты. Межпланетное пространство не является абсолютным вакуумом; оно заполнено межпланетной средой: плазмой, пылевой и газовой составляющими, и пронизано электромагнитным излучением Солнца и других небесных тел. За условной границей межпланетного пространства находится межзвёздное пространство.
    </center>
    <center align="justify" class="Zagolovok-text">
        Планеты вращаются не в абсолютной пустоте — пространство между ними заполнено малыми небесными телами, вращающимися по собственным орбитам, блуждающими кометами, потоками метеорных тел и космической пылью.
    </center>
    <center align="justify" class="Zagolovok-text">
        Кроме того, Солнце излучает мощнейший поток заряженных частиц, называемый «солнечным ветром». Он распространяется по системе с чудовищной скоростью — до 1 200 км/с. Именно солнечный ветер порождает магнитные бури, полярные сияния и радиационные пояса планет.
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="glava6">Расположение Солнечной системы в Галактике</h2>
    </center>
    <center>
        <img src="~/images/6087cb6dc3be7f305fa7b6df_os_ggy3_qajdv-ijmg8u30xawvuxjlbv (1).jpg" style=" width: 850px;  border-radius: 15px; margin-top:10px;" />
    </center>
    <center class="blockopredelenie" align="justify" style="position:center"><!-- определение -->
        <strong>Млечный Путь (Галактика)</strong> — галактика, в которой находится Земля и Солнечная система. Относится к типу спиральных галактик с перемычкой. Радиус Млечного Пути считается равным радиусу его звёздного диска и составляет 16 килопарсек. Полная масса Галактики с учётом тёмной материи оценивается как 1—2⋅1012 M⊙. В Млечном Пути находится от 100 до 400 миллиардов звёзд, а его светимость составляет 2⋅1010 L⊙. По сравнению с другими спиральными галактиками Млечный Путь имеет довольно большую массу и высокую светимость.
    </center>
    <center class="blockopredelenie" align="justify" style="position:center"><!-- определение -->
        <strong>Рука́в Орио́на</strong> — небольшой галактический рукав Млечного Пути, в котором находится Солнечная система. Толщиной приблизительно в 3500 световых лет и приблизительно 11 000 световых лет в длину. Иногда он также называется Местный рукав или Шпора Ориона.
   </center>
        <center align="justify" class="Zagolovok-text">
        Солнце — одна из 200 миллиардов звёзд Млечного Пути, оно находится в одном из его спиральных рукавов — рукаве Ориона — на расстоянии 27 000 световых лет от центра Галактики.
    </center>
    <center align="justify" class="Zagolovok-text">
        Как планеты вращаются вокруг Солнца, так и Солнце вращается вокруг центра Галактики. Солнечная система движется сквозь космическое пространство со скоростью в 250 км/с — это в сотни тысяч раз быстрее самого мощного сверхзвукового самолёта.
    </center>
    <center align="justify" class="Zagolovok-text">
        Полный оборот вокруг центра Млечного Пути солнечная система совершает за 226 миллионов лет — эта величина называется галактическим годом.
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="glava7">Изучение Солнечной системы</h2>
    </center>
    <center align="justify" class="Zagolovok-text">
        До XVI века люди полагали, что звезда и все видимые планеты движутся вокруг Земли, а сама она остается неподвижной. В XVI веке польский астроном Николай Коперник разработал гелиоцентрическую систему, в основе которой лежали следующие утверждения:
        <ul>
            <li>
                Всемирным центром выступает не Земля, а Солнце
            </li>
            <li>
                Наша планета имеет форму шара и вращается вокруг своей оси;
            </li>
            <li>
                Земля обращается вокруг главной звезды системы — Солнца
            </li>
        </ul>
    </center>
    <center align="justify" class="Zagolovok-text">
        Вследствие развития гелиоцентрической системы ученые перестали считать Луну и Солнце планетами, упразднили понятие об исключительном положении Земли относительно других небесных тел.
    </center>
    <center align="justify" class="Zagolovok-text">
        В начале XVII века немецким математиком Иоганном Кеплером было составлено теоретическое описание передвижения планет. А уже к середине столетия были сформулированы законы тяготения, ставшие научной основой для количественного описания передвижения планет, спутников, малых небесных тел.
    </center>
    <div class="exam_03" align="justify" style="position:center"><!-- примечание -->
        Моментом начала профессионального изучения считается открытие Галилео Галилеем четырех спутников Юпитера. Ученый сделал его в 1610 году при помощи своего телескопа.
    </div>
    <center align="justify" class="Zagolovok-text">
        В 1655 году были открыты пять спутников Сатурна. В начале XVIII века обнаружили Уран, в XIX — самый крупный астероид системы Церера. В 1930 году американский астроном Клайд Томбо открыл Плутон. В последующие несколько десятилетий был зафиксирован целый ряд малых небесных тел, карликовых планет и спутников планет-газовых гигантов.
    </center>
    <div class="exam_03" align="justify" style="position:center"><!-- примечание -->
        Сегодня ученые продолжают расчетный и инструментальный поиск новых космических объектов. Расчетный поиск предполагает использование вероятностных моделей. Инструментальный реализуется при помощи новых микроскопов высокого класса мощности.
    </div>
    </div>
</body>