@{
    ViewData["Title"] = "Космические объекты";
}
<head>
    <link href="~/css/style child objectspace.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
</head>

<body class="star">
    <div class="background-container">
        <div class="side"></div>
    </div>
    <div class="center-rectangle">
    <div class="btn-up btn-up_hide"></div> <!--кнопка стрелка вврех-->

    <div class="text-center">
        <h2 class="display-4" style="color: black; margin-top:10px;">Путешествие в мир далеких светил</h2>
    </div>
    <div class="text-center2" align="justify">
          Хотите узнать тайну звёзд? Почему они мерцают в ночном небе и дарят нам свет? Раскройте секреты Вселенной вместе с нами!
    </div>
    <center>
        <img src="~/images/45654солн.png" style=" width: 850px;  border-radius: 15px;"/>
    </center>
    <div align="justify" style="margin-top:10px;">
        <center>
            Если хотите верутся к выбору, нажмите на кнопку:
            <button class="buttonback" onclick=" history.go(-1)">Вернутся назад</button>
        </center>
    </div>
    <div class="oglavlenie">
        Из этой статьи ты узнаешь:
        <ol>
            <li><a href="#Что такое звезды">Что такое звезды</a></li>
            <li><a href="#Почему звезды светятся">Почему звезды светятся</a></li>
            <li><a href="#Наименование звезд">Наименование звезд</a></li>
            <li><a href="#Образование планет">Формирование звезд</a></li>
            <li><a href="#Звездная эволюция">Звездная эволюция</a></li>
            <li><a href="#Характеристика звезд">Характеристика звезд </a></li>
            <li>
                <a href="#Виды">Виды </a>
                <ol>
                    <li><a href="#Красные гиганты и сверхгиганты">Красные гиганты и сверхгиганты</a></li>
                    <li><a href="#Белые карлики">Белые карлики</a></li>
                    <li><a href="#Протозвезда">Протозвезда</a></li>
                    <li><a href="#Коричневые карлики">Коричневые карлики</a></li>
                    <li><a href="#Переменные звезды">Переменные звезды</a></li>
                    <li><a href="#Звезды типа Т Тельца">Звезды типа Т Тельца</a></li>
                    <li><a href="#Звезды типа Вольфа-Райе">Звезды типа Вольфа-Райе</a></li>
                    <li><a href="#Сверхновые">Сверхновые</a></li>
                    <li><a href="#Нейтронные">Нейтронные</a></li>
                    <li><a href="#Двойные звезды">Двойные звезды</a></li>
                </ol>
            </li>
            <li><a href="#Самая большая звезда во Вселенной">Самая большая звезда во Вселенной </a></li>
            <li><a href="#Самая маленькая звезда во Вселенной">Самая маленькая звезда во Вселенной </a></li>
            <li><a href="#Какой была первая звезда">Какой была первая звезда </a></li>
        </ol>
    </div>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Что такое звезды">Что такое звезды</h2>
    </center>
    <center align="justify" class="Zagolovok-text">
        Звезды – это большие небесные тела, разбросанные по всему космическому пространству. Силой взаимного притяжения в них удерживаются определенные вещества. Звезды имеют высокую температуру, благодаря чему излучают свет, который могут увидеть наблюдатели с Земли. Объекты раскалены до такой степени, что любое вещество, даже металлы, находятся в них в газообразном состоянии, а их совокупность называется плазмой.
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Почему звезды светятся">Почему звезды светятся</h2>
    </center>
        <center>
            <img src="https://kipmu.ru/wp-content/uploads/svchzvz.jpg" style=" width: 850px;  border-radius: 15px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        Все дело в разнице температур ядра и поверхности. Внутри звезды она может достигать 10 млн градусов и больше. Благодаря этому, в космическом объекте постоянно происходят термоядерные реакции, что превращает одни химические элементы в другие. К примеру, водород, из которого состоит большая часть звезд, становится в их недрах гелием. Благодаря этому возникает свечение, которое и видят земляне.
    </center>
    <div class="exam_03" align="justify" style="position:center">
        <!-- примечание -->
        Человек видит на небе звезды из трех ближайших галактик: Андромеда, Треугольник и Млечный путь. Для того, чтобы посмотреть на более далекие космические объекты, нужны мощные телескопы.
    </div>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Наименование звезд">Наименование звезд</h2>
    </center>

    <center align="justify" class="Zagolovok-text">
        Имена отдельным космическим телам и созвездиям люди стали давать еще в глубокой древности. В то время человеку небо представлялось обиталищем различных мифических существ, в честь которых им и давали названия. Большинство из них используются до сих пор.
    </center>
    <center align="justify" class="Zagolovok-text">
        Разительно отличаются названия созвездий в Северном и Южном полушариях. Здесь преобладают не мифические существа, а различные части кораблей и морских обитателей. Дело в том, что Южное полушарие в древнем мире было слабо известно учеными. Его активное освоение началось с эпохой великих географических открытий. Логично, что многие созвездия южного полушария были впервые обнаружены моряками, которые и давали им название, исходя из собственных предпочтений. Так на небосводе появились Киль, Корма и пр.
    </center>
    <center align="justify" class="Zagolovok-text">
        Сейчас ученые выделяют 88 созвездий. Из них 12 относятся к зодиакальным. Самое яркое небесное тело в них обозначают греческой буквой «альфа», следующая – «бета» и т.д.5
    </center>
    <center align="justify" class="Zagolovok-text">
        Отдельные звезды обозначают буквенно-цифровой аббревиатурой. Кроме того, небесные тела классифицируют по цвету и размерам. К примеру, голубые гиганты или коричневые карлики.
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Формирование звезд">Формирование звезд</h2>
    </center>
        <center>
            <img src="https://kipmu.ru/wp-content/uploads/frmrzvz.jpg" style=" width: 850px;  border-radius: 15px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        Моментом рождения звезды является объединение молекул водорода и гелия в одно облако. Оно начинает вращаться. Появляется внутренняя гравитация. Это обстоятельство ускоряет вращение.
    </center>
    <center align="justify" class="Zagolovok-text">
        Постепенно внешнее пространство облака начинает напоминать диск, а внутреннее – сферическое скопление. Температура материала повышается, как и его плотность. Это приводит к образованию шарообразной протозвезды.
    </center>
    <center align="justify" class="Zagolovok-text">
        Со временем давление и тепло повышаются до 1 млн.оС. Это приводит к слиянию атомных ядер. В этот момент и зажигается новая звезда. Небесное тело при этом практически незаметно для глаз наблюдателя, т.к. его окутывает мощное газо-пылевое облако.
    </center>
    <center align="justify" class="Zagolovok-text">
        Постепенно вследствие ядерного синтеза происходит преобразование некоторого количества атомной массы в энергию.
    </center>
    <center align="justify" class="Zagolovok-text">
        Все это время звезда из-за воздействия различных сил находится в движении. В основном она вращаются вокруг галактик или космических объектов с мощным гравитационным полем.
    </center>
    <div class="exam_03" align="justify" style="position:center">
        <!-- примечание -->
        В космосе звезды видны в любое время суток, ведь время там не разделяется на день и ночь.
    </div>
    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Звездная эволюция">Звездная эволюция</h2>
    </center>
        <center>
            <img src="https://kipmu.ru/wp-content/uploads/shmzvzd.jpg" style=" width: 850px;  border-radius: 15px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        У любого космического тела есть определенный цикл развития, который называется эволюцией. Большое влияние на этот процесс оказывает масса звезды. Чем больше весит объект, тем менее продолжительным будет его жизненный цикл.

    </center>
    <center align="justify" class="Zagolovok-text">
        Космические тела с промежуточной массой, т.е. в 1,5-8 раз тяжелее Солнца, зарождаются из облака, размер которого может достигать 100000 световых лет. Когда температура внутри достигает 3725 оС, из туманности образуется протозвезда. После начала слияния водорода она преобразуется в объект с переменными колебаниями в яркости. Благодаря сжатию силы тяжести, уравновешивается процесс расширения. Звезда начинает получать энергию от синтеза водорода, происходящего в ее ядре. На формирование объекта уходит около 10 млн. лет.
    </center>
    <center align="justify" class="Zagolovok-text">
        После того, как весь водород преобразовался в гелий, под действием силы гравитации материя становится ядром, которое начинает быстро нагреваться. Происходит расширение внешних слоев, которые благодаря воздействию внешней среды быстро охлаждаются. Так образуется красный гигант. Далее начинаются химические процессы с гелием. Когда он полностью преобразуется в другие вещества, ядро под действием увеличивающейся температуры расширяет оболочку. Это приводит к образованию белого карлика, температура которого может достигать 100000 оС. Продукты, необходимые для нагревания, окончательно иссякают. Поэтому объект начинает постепенно охлаждаться. Через несколько миллиардов лет он становится черным карликом и заканчивает свой жизненный путь.
    </center>
    <center align="justify" class="Zagolovok-text">
        Наиболее быстро эволюция протекает у звезд большой массы. От формирования объекта до окончания жизненного цикла проходит от 10000 до 100000 лет. В начале своей жизни они имеют высокую температуру, яркость и большие размеры. Звезда отличается насыщенным голубым цветом. Постепенно она становится красным сверхгигантом, внутри которого идет активное сплавление углерода в тяжелые элементы. Благодаря этому образуется железное ядро. Его ширина может достигать 6000 км. Его ядерное излучение не может сопротивляться силе притяжения.
    </center>
    <center align="justify" class="Zagolovok-text">
        Когда масса космического объекта примерно в 1,5 раза превышает солнечную, происходит крушение ядра. Это приводит к образованию сверхновой звезды. В процессе разрушения его температура поднимается до 10 млрд. оС, благодаря чему железо разбивается на нейроны. За секунду ядро уменьшается в размерах до 10 км. Затем происходит взрыв.

    </center>
    <center align="justify" class="Zagolovok-text">
        Далее существует два варианта развития событий. Если оставшееся ядро весило меньше, чем три Солнца, оно превратится в нейтронную звезду. Объект будет вращаться и излучать радиоимпульсы. Если ядро было тяжелее трех солнечных масс, оно полностью разрушится, а на его месте образуется черная дыра.
    </center>
    <center align="justify" class="Zagolovok-text">
        Наиболее медленно происходит формирование звезд с небольшой массой. Дело в том, что они медленно тратят свои топливные запасы. Их жизненный путь длится от 100 миллиардов до 1 триллиона лет. Соответственно, такие объекты еще не умирали. Ведь установлено, что возраст Вселенной – 13,7 миллиардов лет. Красные карлики не могут слиться ни с чем, кроме водорода. Это приводит к тому, что они не способны увеличиваться в размерах. Такие светила будут медленно охлаждаться и со временем превратятся в черных карликов, после чего завершат свой жизненный путь.
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Характеристика звезд">Характеристика звезд</h2>
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">Яркость</h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Это понятие ввел еще Гиппарх в 125 году до н.э. Он составил нумерацию звездных групп основываясь на видимой для глаз яркости. Самые заметные – первые, самые тусклые – шестые. Однако в то время еще не было известно, что расстояния между Землей и другими космическими объектами искажают свет, исходящий от них. Поэтому сейчас при описании звезд добавляют такое понятие, как фактическая яркость.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">Цвет</h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Он зависит от температуры объекта. Звезды бывают с оттенками голубого, красного, желтого и белого. Любой космический объект обладает только одним цветом. Однако, из-за химических процессов, происходящих внутри, на поверхности случаются вспышки различного светового спектра. Изучая эти явления, ученые делают вывод, какие элементы содержатся в составе звезды.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">Поверхностная температура</h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Данный показатель измеряется в кельвинах, где ноль равен -273,15оС. На температуру оказывают влияние яркость, цвет и масса.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">Размер</h4>
    </center>
    <center>
        <img src="~/images/srvrzmzvd.jpg" style=" width:550px;  border-radius: 15px; margin-top:10px;" />
    </center>
    <center align="justify" class="Zagolovok-text">
        За стандарт принято брать диаметр Солнца. Размер звезды Альфа Центавра А составляет 1,05 его величин. Бывают и более крупные объекты. Красные сверхгиганты больше Солнца в 1000 раз. Размер оказывает влияние на яркость звезды.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">Масса</h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        За стандарт здесь также берется Солнце. Альфа Центавра А – 1,08 солнечных. Вес влияет на температуру.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">Магнитное поле</h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Любая звезда окутана мощным магнитным полем. Оно способно концентрироваться на определенных местах объекта, вызывая вспышки и извержения. Чем сильнее скорость вращения звезды, тем более мощное магнитное поле окутывает ее.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">Металличность</h4>
    </center>
    <center>
        <img src="~/images/mtllch.jpg" style=" width:550px;  border-radius: 15px; margin-top:10px;" />
    </center>
    <center align="justify" class="Zagolovok-text">
        Этот показатель дает понять, сколько элементов, которые имеют массу больше, чем гелий, содержится в составе звезды. Выделяют три поколения металличности. Поиски самого древнего (III), лишенного тяжелых элементов, ведутся учеными до сих пор.
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Виды">Виды</h2>
    </center>
    <center align="justify" class="Zagolovok-text">
        В основе этого показателя лежит диаграмма Герцшпрунга-Рассела. На ней звезды расположены по диагонали. Самые яркие (синие) в левом верхнем углу. Тусклые (красные) – в нижнем правом.
    </center>
    <center align="justify" class="Zagolovok-text">
        Звезды главной последовательности имеют одинаковые ядерные реакции, которые происходят в их ядре, а именно, превращение водорода в гелий. Спектральный класс и температура звезды в этом случае зависят от ее массы, которую измеряют относительно Солнца.
    </center>
    <center align="justify" class="Zagolovok-text">
        По данной классификации космические объекты бывают:
        <ul>
            <li>голубые (О);</li>
            <li>бело-голубые (В);</li>
            <li>белые (А);</li>
            <li>жёлто-белые (F);</li>
            <li>жёлтые (G);</li>
            <li>оранжевые (К);</li>
            <li>красные (М).</li>
        </ul>
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Красные гиганты и сверхгиганты">Красные гиганты и сверхгиганты</h2>
    </center>
        <center>
            <img src="https://kipmu.ru/wp-content/uploads/krggt.jpg" style=" width:550px;  border-radius: 15px; margin-top:10px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        Температура поверхности этого вида звезд варьируется от 3000К до 5000К. Однако они имеют более яркую светимость. Внутри объекта горит гелий, который со временем превращается в углерод.
    </center>
    <center align="justify" class="Zagolovok-text">
        Гиганты имеют красный и оранжевый цвет и находятся выше звезд главной последовательности на диаграмме Герцшпрунга-Рассела. По диаметру они превышают Солнце от 100 до 800 раз, а в некоторых случаях (YV Большого Пса) – в 1024. 
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Белые карлики">Белые карлики</h2>
    </center>
        <center>
            <img src="https://kipmu.ru/wp-content/uploads/anypics.ru-79600-721x423.jpg" style=" width:550px;  border-radius: 15px; margin-top:10px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        Являются последним этапом эволюции звезд. По сути – это ядра объектов, которые потеряли внешнюю оболочку из-за процессов расширения. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Они обладают небольшими размерами (меньше Солнца в 100 раз) и слабой светимостью (в 10000 раз меньше), хотя их масса почти равна солнечной. Последнее объясняется большой плотностью содержащегося в них вещества. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Белые карлики представляют собой сгустки электронно-ядерной плазмы, которые лишены своих источников энергии. Их свечение происходит благодаря расходу запаса тепла. 
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Протозвезда">Протозвезда</h2>
    </center>
        <center>
            <img src="https://kipmu.ru/wp-content/uploads/prtzvz.jpg" style=" width:550px;  border-radius: 15px; margin-top:10px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        Она представляет собой скопление газа, которое образуется после падения молекулярного облака. Ее еще нельзя назвать полноценной звездой. Фаза эволюции длится около 100000 лет. Затем усиливается сила гравитации, и образование начинает разрушаться. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Постепенно накапливается газ, который выделяет энергию. Это запускает остальные процессы формирования звезды. 
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Коричневые карлики">Коричневые карлики</h2>
    </center>
        <center>
            <img src="https://kipmu.ru/wp-content/uploads/mdlkrkrlk.jpg" style=" width:550px;  border-radius: 15px; margin-top:10px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        Под коричневыми карликами подразумевают космические объекты, размеры которых слишком велики для планет, но и чересчур малы для звезд. Их масса достигает 0.08 солнечной. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Процесс формирования у них схож с обычными звездами, однако им не хватает силы давления и температуры, чтобы запустить процесс ядерного синтеза. В их недрах находятся легкие элементы – бор, бериллий и литий. Когда реакции, происходящие между ними, прекращаются, объект потухает и превращается в планетоподобное космическое тело. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Возможность существования коричневых карликов была доказана давно, но долгое время ученые не могли обнаружить их непосредственно в космосе. Первый объект подобного рода был найден в 2004 году в созвездии Гидры. Это 2М1207. 
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Переменные звезды">Переменные звезды</h2>
    </center>
        <center>
            <img src="https://kipmu.ru/wp-content/uploads/prmnzvz.jpg" style=" width:550px;  border-radius: 15px; margin-top:10px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        Переменными звездами называются объекты, у которых один или несколько раз менялся показатель блеска. Это может быть вызвано внутренними процессами и рядом других причин. Раньше перемена света космических объектов воспринималась людьми как нечто сверхъестественное. С научной точки зрения на этот вопрос обратили внимание в 17 веке. С 1800-х годов их классифицируют по механизмам изменения блеска. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Затменно-переменные звезды представляют собой два расположенных рядом объекта, которые периодически закрывают друг друга для наблюдателя с Земли. Из-за этого происходит изменение их яркости. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Пульсирующие переменные звезды меняют свой блеск из-за периодически возникающего сжатия и расширения космического объекта. Это происходит из-за того, что гравитация и внутреннее давление у них нестабильны. Во время пульсации излучаемая площадь меняет размеры, благодаря чему изменяется яркость. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Неправильные переменные звезды имеют более сложные причины, вызывающие пульсацию света. Они еще малоизвестны науке. 
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Звезды типа Т Тельца">Звезды типа Т Тельца</h2>
    </center>
        <center>
            <img src="https://kipmu.ru/wp-content/uploads/ttlcc.jpg" style=" width:550px;  border-radius: 15px; margin-top:10px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        Так называют объекты, которые являются промежуточной стадией эволюции протозвезды, когда вся ее энергия образуется под действием гравитационной силы. Они еще недостаточно нагрелись для того, чтобы в них начался ядерный синтез. 
    </center>
    <center align="justify" class="Zagolovok-text">
        На звездах типа Т Тельца наблюдателями были замечены порывы ветров, большие пятна и вспышки рентгеновского излучения. Длительность процессов охватывает 100000 лет. 
    </center>
    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Звезды типа Вольфа-Райе">Звезды типа Вольфа-Райе</h2>
    </center>
        <center>
            <img src="https://kipmu.ru/wp-content/uploads/zvvlrff.jpg" style=" width:550px;  border-radius: 15px; margin-top:10px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        Такие звезды примерно в 10 раз больше Солнца. Они отличаются высокой температурой (до 50000К) и светимостью. Среди других звезд с подобными показателями светила данного типа отличаются своими особыми, присущими только им, спектрами. Споры о том, как образовались звезды Вольфа-Райе ведутся до сих пор. Наиболее популярной является версия, что они ведут свое происхождение от гелиевых остатков больших звезд. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Этот класс ночных светил имеет свои спектральные виды звёзд:
        <ul>
            <li>WN – в их спектрах обнаружены линии азота и гелия; ;</li>
            <li>WO – в спектрах таких звёзд сильные линии кислорода; </li>
            <li>WC – богатые углеродом. </li>
        </ul>
    </center>
    <center align="justify" class="Zagolovok-text">
        На сегодняшний день учеными открыто 230 звезд данного типа. 
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Сверхновые">Сверхновые</h2>
    </center>
        <center>
            <img src="https://kipmu.ru/wp-content/uploads/svrhnv.jpg" style=" width:550px;  border-radius: 15px; margin-top:10px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        Сверхновыми звездами называют объекты, в которых вследствие эволюционных процессов произошел взрыв. Подобное явление можно заметить с большого расстояния. Для земного наблюдателя это будет выглядеть как сильное и спонтанное увеличение света звезды, которое может продлиться до 10 суток. Такие явления можно увидеть даже днем, причем невооруженным глазом. От новых звезд сверхновые отличаются мощностью взрыва. 
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Нейтронные">Нейтронные</h2>
    </center>
        <center>
            <img src="https://kipmu.ru/wp-content/uploads/ntrnzvzd-1.jpg" style=" width:550px;  border-radius: 15px; margin-top:10px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        Если масса звезды была меньше 1,35 солнечной, то после взрыва она не превращается в белого карлика, а становится сверхновой. В результате этого процесса остается ядро. Оно и называется нейтронной звездой. Это происходит вследствие сжатия протонов и электронов гравитационной силой. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Если масса объекта превышала солнечную больше чем в 3 раза, на месте взрыва образуется черная дыра. Радиус нейтронной звезды редко превышает 20 км. Объект обладает сильным магнитным полем, которое создается вследствие быстрого вращения – 1000 об/мин. 
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Двойные звезды">Двойные звезды</h2>
    </center>
        <center>
            <img src="https://kipmu.ru/wp-content/uploads/dvzv.jpg" style=" width:550px;  border-radius: 15px; margin-top:10px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        Это система из двух звезд, которые притягиваются силой гравитации. Некоторые объекты не просто вращаются друг возле друга, но и обмениваются при этом массами своего вещества. К такому типу относятся около 50% от всех звезд нашей галактики. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Двойные звезды отмечают латинскими буквами. «А» – более яркая и массивная. «В» – тусклая и легкая. 
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Самая большая звезда во Вселенной">Самая большая звезда во Вселенной</h2>
    </center>
    <center align="justify" class="Zagolovok-text">
        Самая большая звезда во Вселенной была открыта в 1860 году учеными Боннской обсерватории. Однако полный обзор на нее смогли провести совсем недавно. Это звезда UY в созвездии Щита. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Ее радиус в 1700 раз превышает Солнце. Она расположена от Земли на расстоянии 9500 световых лет. Если бы UY Щита находилась на месте Солнца, она бы захватила в свой состав первые пять планет и вышла бы на орбиту Юпитера. 
    </center>
    <center align="justify" class="Zagolovok-text">
        С каждым годом совершенствуются возможности техники. Возможно, через несколько лет люди найдут новую, более крупную звезду. 
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Самая маленькая звезда во Вселенной">Самая маленькая звезда во Вселенной</h2>
    </center>
        <center>
            <img src="https://i1.wp.com/s1.travelask.ru/system/images/files/000/339/176/wysiwyg/Sun-and-ACent.jpg" style=" width: 850px;  border-radius: 15px;" />
        </center>
    <center align="justify" class="Zagolovok-text">
        Ближайшая самая маленькая звезда – это красный карлик Проксима Центавра. Ее размеры скромны – 12,3 от массы Солнца и 200000 км шириной. Это примерно половина Юпитера. Однако строение у этих объектов разное. Звезда тяжелее планеты. Проксима Центавра очень тусклая. Разглядеть ее на небе можно только с использованием специальной техники. 
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Какой была первая звезда">Какой была первая звезда</h2>
    </center>
    <center align="justify" class="Zagolovok-text">
        Ученые полагают, что к образованию Вселенной привел Большой Взрыв, который случился 13,7 миллиардов лет назад. Первое время в космосе была очень высокая температура, которая не позволяла образовываться звездам и другим объектам. По прошествии нескольких миллионов лет она снизилась. Гравитационные силы стали накапливать водород и гелий. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Далее наступил период идеального соотношения температуры и давления. Водород стал синтезироваться в гелий. Это позволило звездам накопить большую массу (до 150 солнечных). 
    </center>
    <center align="justify" class="Zagolovok-text">
        Так возникло первое поколение. Спустя несколько миллионов лет большинство из них взорвались. Однако за время своего существования они успели сформировать тяжелые элементы, которые после их гибели вырвались в открытое пространство. Это в свою очередь привело к образованию звезд в том виде, в котором люди наблюдают их сегодня. 
    </center>
    </div>
</body>
