@{
    ViewData["Title"] = "Космические объекты";
}
<head>
    <link href="~/css/style child objectspace.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
</head>

<body class="asteroid">
    <div class="background-container">
        <div class="side"></div>
    </div>
    <div class="center-rectangle">
    <div class="btn-up btn-up_hide"></div> <!--кнопка стрелка вврех-->

    <div class="text-center">
        <h2 class="display-4" style="color: black; margin-top:10px;">Небесные странники космоса</h2>
    </div>
    <div class="textincentre"  style="position:center; margin-top:20px; margin-bottom:20px; margin-left: 90px; margin-right:90px;">
        Космос полон неразгаданных тайн и любопытных явлений, и астероиды — безусловно одно из них.
    </div>
        <center>
            <img src="~/images/435678745пк.png" style=" width: 850px;  border-radius: 15px "/>
        </center>
        <div align="justify" style="margin-top:10px;">
            <center>
                Если хотите верутся к выбору, нажмите на кнопку:
                <button class="buttonback" onclick=" history.go(-1)">Вернутся назад</button>
            </center>
        </div>
    <div class="oglavlenie">
        Из этой статьи ты узнаешь:
        <ol>
            <li><a href="#Астероиды">Астероиды </a></li>
            <li><a href="#Метеоры">Метеоры </a></li>
            <li><a href="#Метеориты">Метеориты </a></li>
            <li><a href="#Кометы">Кометы </a></li>
        </ol>
    </div>

    <!-- ЗАГОЛОВОК -->
    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Астероиды">Астероиды</h2>
    </center>
    <center class="blockopredelenie" align="justify" style="position:center">
        <!-- определение -->
        <strong>Астеро́ид</strong> (распространённый до 2006 года синоним — малая планета) — относительно небольшое небесное тело Солнечной системы, движущееся по орбите вокруг Солнца. Астероиды значительно уступают по массе и размерам планетам, имеют неправильную форму и не имеют атмосферы, хотя при этом и у них могут быть спутники. Входят в категорию малых тел Солнечной системы.
    </center>
    <center align="justify" class="Zagolovok-text">
        Астероиды образовались около 4,6 млрд лет назад, в ранний этап формирования Солнечной системы. Тогда будущие планеты переживали стадию «планетезималей». В этот период небольшие космические частицы постепенно притягиваются друг к другу, повышается температура в центре, за счет чего они плавятся и образуется протопланета. Нынешние астероиды — «побочные продукты» того процесса. Ученые предполагают, что многие спутники планет — бывшие астероиды, которых «захватило» гравитационное поле крупного объекта, заставив вращаться вокруг него.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">История открытия астероидов</h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Астероиды были открыты случайно: в 1801 году итальянский астроном и священник Джузеппе Пьяцци обнаружил самый большой из них и назвал его Церерой в честь римской богини плодородия. Сейчас он квалифицируется как карликовая планета. С тех пор ученые стали регулярно находить астероиды: ко второй половине XIX века количество зафиксированных объектов перешагнуло за 100, к 1921 году — за 1 тыс., а к 1981 — за 10 тыс. Сейчас это число превышает 800 тыс. В 1980 году была выдвинута гипотеза, что именно падение астероида около 66 млн лет назад привело к вымиранию динозавров.
    </center>
    <center align="justify" class="Zagolovok-text">
        По предположениям ученых, этот астероид приземлился в районе современной Мексики. Большинство земноводных животных могли погибнуть в течение нескольких часов или дней после падения из-за резкого повышения температуры окружающей среды. Это столкновение могло вызвать необратимые изменения климата, повысить содержание кислоты в атмосфере и изменить состав Мирового океана.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Химический состав и цвет распространенных астероидов
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Ученые делят астероиды на классы в зависимости от их состава. Так выглядят три самых распространенных:
        <ul>
            <li><strong>Астероиды класса C.</strong>Цвет: сероватый. Состоят из углерода и ряда других веществ, в том числе кремния. Это самый распространенный тип, который включает в себя около 75% всех астероидов.</li>
            <li><strong>Астероиды класса S. </strong>Цвет: зеленоватый или красноватый. Состоят из кремния, никеля и железа. Второй по распространенности тип, включает в себя около 17% всех астероидов.</li>
            <li><strong>Астероиды класса M.</strong>Цвет: красноватый. Состоят из никеля и железа. Остатки металлических ядер планетезималей.</li>
        </ul>
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Где находятся астероиды
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Большинство астероидов Солнечной системы находится в главном поясе астероидов — между орбитами Марса и Юпитера. В нем циркулирует более 200 астероидов диаметром более 100 км, от 1,1 млн до 1,9 млн диаметром более 1 км и миллионы мелких. Как пишет ученый Владимир Бусарев, здесь они движутся в «безопасной» зоне, где гравитационное влияние на них больших планет минимально. Именно из-за Юпитера на месте главного пояса астероидов в период зарождения Солнечной системы не смогла возникнуть еще одна планета. Его гравитационное поле препятствовало формированию планетезималей рядом, поэтому частицы не соединились и продолжили двигаться вокруг Солнца в виде астероидов.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Крупнейшие группы астероидов
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Астероиды располагаются в Солнечной системе не только в главном поясе астероидов.
        <ul>
            <li><strong>«Троянцы»</strong> и <strong>«греки»</strong>которые получили названия в честь героев «Илиады», находятся в «точках Лагранжа». В этих частях космоса гравитационное воздействие планеты и Солнца равноценно. Больше всего «троянцев» и «греков» есть у Юпитера — более 10 тыс. У Нептуна их 30, у Марса — девять, а у Земли и Урана — по одному.</li>
            <li><strong>«Семейство Хильды»</strong>содержит более 1 тыс. похожих на «троянцев» астероидов. Оно находится за главным поясом между орбитами Марса и Юпитера.</li>
            <li><strong>«Пояс Койпера»</strong>расположен на краю Солнечной системы, рядом с Нептуном. Он похож на главный пояс астероидов, но отличается от него размером: в 20 раз шире и в 20–200 раз массивнее. В нем находятся малые тела из воды, аммиака и метана и как минимум четыре карликовые планеты, к которым современная наука причисляет и Плутон.</li>
        </ul>
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Самые крупные астероиды
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Исследователям сложно измерять астероиды из-за их неправильной формы и разного альбедо (отражательной способности поверхности). Если считать по приблизительному диаметру, первая десятка будет выглядеть так:
        <ul>
            <li>Церера, 946 км</li>
            <li>Веста, 525 км</li>
            <li>Паллада, 512 км</li>
            <li>Гигея, 431 км</li>
            <li>Интерамния, 326 км</li>
            <li>Европа, 315 км</li>
            <li>Давида, 289 км</li>
            <li>Сильвия, 286 км</li>
            <li>Кибела, 273 км</li>
            <li>Эвномия, 268 км</li>
        </ul>
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Методы исследования астероидов
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        <ul>
            <li>
                В 1991 году исследовательский аппарат NASA «Галилео» отправил на Землю изображения астероидов из главного пояса крупным планом.
            </li>
            <li>
                В 2001 году другой космический зонд агентства, NEAR Shoemaker, впервые в истории успешно совершил мягкую посадку на астероид Эрос. Проработав на нем две недели, он перестал выходить на связь.
            </li>
            <li>
                В 2006 японский аппарат «Хаябуса» (в переводе «Сокол») совершил посадку, забрал пробы, а потом взлетел с астероида Итокава. В 2010 году он вернулся на Землю.
            </li>
            <li>
                В 2019 году «Хаябуса-2» успешно приземлился на отдаленный астероид Рюгу, который находится в 280 млн км от Земли. В 2020 году на Землю прилетела капсула с образцами грунта, собранными зондом.
            </li>
            <li>
                NASA же в октябре 2021 года отправила миссию «Люси», которая будет более 10 лет изучать «троянцев».
            </li>
        </ul>
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            «К Земле приближается астероид! Что делать?»
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        В 1998 году американские конгрессмены попросили NASA зафиксировать все астероиды и кометы радиусом в 1 км и больше, которые могут оказаться на орбите Земли. С тех пор астрономы NASA обнаружили 95% астероидов, и некоторые из них гипотетически могут привести к концу света. Сейчас ни один из них не угрожает нашей планете. Тем не менее Конгресс США еще в 2005 году повысил планку, приказав специалистам NASA найти все астероиды радиусом от 140 м. Их еще называют «убийцами городов», так как они способны стереть с лица Земли мегаполис. Вероятность столкновения с ними в любой век — около 1%. Сейчас NASA нашло около 40% от них. Для обнаружения оставшихся 60% потребуется еще примерно 30 лет.
    </center>
    <center align="justify" class="Zagolovok-text">
        Но что же делать, когда опасный астероид, летящий в сторону Земли, обнаружен? Множество идей есть у Голливуда: от взрыва атомной бомбой в «Армагеддоне» до расщепления на полезные ресурсы в «Не смотрите наверх». Однако астрономы сходятся во мнении, что самый эффективный способ намного проще: достаточно лишь изменить курс небесного тела. В конце ноября 2021 года NASA запустило космический корабль проекта DART. Он весит 600 кг и выглядит как коробка размером с машину с солнечными панелями по бокам. Осенью 2022 года он должен врезаться в спутник астероида Диморф на скорости 24 тыс. км/ч. Последний не представляет угрозу Земле, но столкновение должно доказать, что траекторию полета астероидов и комет можно менять. Если опыт закончится успешно, в NASA разработают аналогичную стратегию для любой потенциальной космической угрозы в будущем.
    </center>

    <!-- ЗАГОЛОВОК -->
    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Метеоры">Метеоры</h2>
    </center>
    <center class="blockopredelenie" align="justify" style="position:center">
        <!-- определение -->
    <strong>Метео́р</strong> (др.-греч. μετέωρος, «парящий в воздухе») — явление, возникающее при сгорании в атмосфере Земли метеорных тел (например, осколков комет, астероидов или же мусора). Слабые метеоры называются падающими звёздами, тогда как аналогичное явление большой интенсивности (ярче звёздной величины −4) называется болидом. Бывают встречные и догоняющие. Эти междисциплинарные явления изучаются метеоритикой (разделом астрономии), а также физикой атмосферы.
        В исторической науке общий термин метеор (небесный) означал любые явления, наблюдаемые в атмосфере (не только сгорание метеорного тела в атмосфере). В частности, к ним относятся: гидрометеоры — дождь, роса, туман и тому подобные, оптические метеоры — мираж, заря, гало и тому подобные, электрометеоры — молния, огни Святого Эльма и тому подобные.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Историческая справка
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">Метеоры известны человечеству с глубокой древности, что отражено в легендах и мифах многих народов. Первые документальные сведения о метеорах найдены в египетском папирусе, написанном за 2 тыс. лет до н. э. Записи о наблюдениях метеоров неоднократно встречаются в старинных китайских рукописях начиная с 1768 г. до н. э. В древнерусских летописях наиболее ранние записи о метеорах относятся к 1091, 1110, 1144 и 1215 гг.
    </center>
    <center align="justify" class="Zagolovok-text">В 1798 г. впервые были определены высоты 22 метеоров по одновременным наблюдениям из двух пунктов, удалённых друг от друга на 14 км. Во время метеорного дождя 1832–1833 гг. многими наблюдателями было замечено, что видимые пути метеоров исходят из одной точки небесной сферы, названной радиантом метеорного потока. На основании этого сделано заключение, что траектории всех метеорных тел потока, вызвавшего метеорный дождь, параллельны, т. е. эти тела в космическом пространстве движутся по близким орбитам. В 19 в. была открыта связь метеорных потоков с кометами, вычислены орбиты ряда метеорных потоков, составлены каталоги большого числа радиантов метеорных потоков.
    </center>
    <center align="justify" class="Zagolovok-text">В 1885 г. Л. Вейнек получил первую фотографию метеоров. В 1893 г. американский астроном Х. Элкин применил вращающийся затвор (обтюратор) для определения угловой скорости метеоров при фотографических наблюдениях. В 1904 г. С. Н. Блажко получил первые фотографии спектров метеоров. Фотографические наблюдения метеоров приняли массовый характер в 1930–1940-х гг. Базисные наблюдения метеоров (проводимые 2–3 фотокамерами, оборудованными обтюраторами и направленными в одну область небесной сферы) позволили определить траектории и скорости метеорных тел в пространстве и, следовательно, их орбиты.
    </center>
    <center align="justify" class="Zagolovok-text">В 1929–1931 гг. обнаружено влияние метеорной ионизации на распространение радиоволн, в 1942–1944 гг. проведены первые радиолокационные наблюдения метеоров.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Метеорная астрономия
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">Задачей метеорной астрономии является изучение происхождения и эволюции метеорных тел, а также их распределения в межпланетном пространстве.
    </center>
     <center align="justify" class="Zagolovok-text">Метеорные тела могут возникать в ходе следующих процессов. При приближении к Солнцу кометы в её ядре происходит сублимация льда и высвобождение твёрдых частиц. Эти частицы продолжают движение по той же орбите, что и ядро кометы, образуя метеорный рой. Кроме того, метеороиды могут образовываться при столкновении астероидов друг с другом, а также при выбивании частиц из поверхности твёрдых планет со слабой атмосферой (Меркурий, Марс) или спутников планет. Масса выбитых осколков, как правило, в 103 раз больше, чем масса метеороида.
    </center>
    <center align="justify" class="Zagolovok-text">Среднее время жизни метеороида – около 105 лет. Частицы массой менее 10–16 кг «выметаются» из Солнечной системы под давлением солнечного излучения – для таких частиц сила давления света превышает силу притяжения Солнца. Тела с большей массой тормозятся в результате эффекта Пойнтинга – Робертсона, метеороид по эллиптической спирали приближается к Солнцу, где полностью сублимируется.
    </center>
    <center align="justify" class="Zagolovok-text">Распределение метеорных тел в межпланетном пространстве слабо изучено. Это объясняется тем, что наземные средства наблюдения регистрируют только те метеороиды, которые пересекают орбиту Земли (т. е. малую долю всего комплекса метеорных тел). Космические аппараты могут регистрировать метеороиды вне орбиты Земли, но лишь в плоскости эклиптики, где, как правило, лежат орбиты космических аппаратов.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Методы наблюдения метеоров
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">При наблюдении метеоров применяются различные методы, как визуальные, так и инструментальные (фотографические, оптические, радиолокационные и др.). С развитием инструментальных методов исследования метеоров визуальные наблюдения отошли на второй план. Однако на рубеже 20–21 вв. благодаря особым способам обработки визуальных наблюдений астрономам удалось довести их точность до уровня точности инструментальных методов. Это, в частности, позволило, используя старые данные (в том числе систематические наблюдения Ф. А. Бредихина), проследить эволюцию метеорных роёв Персеиды и Леониды на интервале 120 лет.
    </center>
      <center align="justify" class="Zagolovok-text">В оптических методах наблюдения применяют телескопы для усиления чувствительности аппаратуры и увеличения её разрешающей способности. В современных оптических методах в качестве светоприёмника используют ПЗС-матрицы, что позволяет регистрировать более слабые метеоры. Если при фотографических наблюдениях минимальная регистрируемая звёздная величина метеора составляла, как правило, +3, то при современных оптических методах она достигает от +4 до +5.
    </center>
    <center align="justify" class="Zagolovok-text">Отражение радиоволн от ионизованных метеорных следов позволяет проводить радионаблюдения метеоров. В отличие от визуальных и оптических наблюдений, радионаблюдения могут проводиться круглосуточно, что совершенно необходимо для изучения метеороидов, орбиты которых пересекают орбиту Земли. Радионаблюдения метеоров подразделяются на радиолокационные и ракурсные (рассеяние вперёд). В первом случае антенны передатчика и приёмника расположены в одном и том же пункте (приборы могут иметь даже общую антенну). Импульсные радиосигналы посылаются в определённый участок небесной сферы, отражаются от метеорных следов и через приёмную антенну поступают в радиоприёмник. Затем сигнал поступает на аппаратуру регистрации, где фиксируются расстояние до метеорного следа, зависимость амплитуды сигнала от времени, длительность сигнала, скорость метеорного тела, углы прихода сигнала и, при базисных наблюдениях, вектор скорости метеороида. При рассеянии вперёд передатчик и приёмник удалены друг от друга на расстояние более 80–100 км, т. е. находятся вне пределов прямой видимости. В этом случае к точке приёма не поступает прямое излучение передатчика (т. к. используется метровый диапазон радиоволн), но приёмником могут быть зафиксированы сигналы, отражённые от метеорных следов.
    </center>
    <center align="justify" class="Zagolovok-text">Для изучения распределения метеороидов в межпланетном пространстве плотность их потока исследуется с помощью аппаратуры, установленной на космических зондах. Для этих целей используются два типа устройств – пробойные датчики и оптические системы с ПЗС-матрицами. Космические аппараты позволяют также определить химический состав мельчайших метеорных тел. Это удалось сделать, например, в 1986 г., когда космические аппараты «Вега-1», «Вега-2» (СССР) и «Джотто» (Европейское космическое агентство) прошли через пылевой хвост кометы Галлея. В 2006 г. космический зонд «Стардаст» (США) доставил на Землю образцы пылевых частиц кометы Вильда 2.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Метеорная опасность
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">Метеорные частицы представляют некоторую опасность для космических аппаратов: они могут повредить внешнюю аппаратуру, пробить борт орбитальной станции, обитаемого космического аппарата или скафандр космонавта, вышедшего в открытый космос. Из-за высокой скорости метеорного тела такие повреждения могут возникнуть даже при столкновении с метеороидом небольшой массы (10–5–10–7 кг). Поэтому все государства, принимающие участие в исследованиях космического пространства, при проектировании космических аппаратов производят расчёт их надёжности в условиях бомбардировки метеорными частицами.
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Болиды">Болиды</h2>
    </center>
    <center class="blockopredelenie" align="justify" style="position:center">
        <!-- определение -->
        <strong>Боли́д</strong>(греч. βολίδος; от βολίς — метательное копьё) — метеор яркостью более −4m (ярче, чем Венера), массой от сотен грамм и до десятков тонн, имеющий заметные угловые размеры. Международный астрономический союз не имеет официального определения понятия «болид». Высота возгорания (от 120 км до 80 км) зависит от массы и скорости метеорного тела. Скорость вторжения в земную атмосферу от 11км/с до 73 км/с . Особо яркие болиды иногда называют суперболидами. Болиды часто оставляют яркий след (хвост) из пыли и ионизованных газов. Метеориты перед выпадением на Землю видны как болиды. Полёт может сопровождаться звуком и/или нарушением радиосвязи.
    </center>
    <center align="justify" class="Zagolovok-text">Для наблюдений болидов используются болидные сети, состоящие из множества станций для систематического наблюдения метеорных тел. Примерами таких сетей являются Европейская болидная сеть (European Fireball Network, EN) и Австралийская болидная сеть (Desert Fireball Network, DFN).
    </center>
    <center align="justify" class="Zagolovok-text">
        Стоит отметить, что при движении в газовой оболочке планеты такой метеор может оставлять яркий газо-пылевой след.
        Иногда болиды пролетают со звуковым эффектом. К примеру, в воздухе слышно потрескивание. Кроме того, из-за их, так сказать, вторжения могут происходить нарушения радиосвязи.
        Считается, что это вызывается электромагнитным полем, сопровождающим полет болидов. Проще говоря, колебания порождают звук и волновые помехи в окружающей среде.
        Что важно, болиды видны на небе даже днем, поскольку имеют высокую яркость.
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Метеориты">Метеориты</h2>
    </center>
    <center class="blockopredelenie" align="justify" style="position:center">
        <!-- определение -->
        <strong>Метеори́т</strong> (греч. Μετεώρος — поднятый в воздух, в ранних русскоязычных источниках упоминается как воздушный камень) — тело космического происхождения, достигшее поверхности Земли[1] или другого крупного небесного тела.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Внешние признаки
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Среди основных внешних признаков метеорита стоит отметить:
        <ul>
            <li>кору плавления </li>
            <li>регмаглипты </li>
            <li>магнитность </li>
        </ul>
    </center>
    <center align="justify" class="Zagolovok-text">
        Дополнительно эти космические тела имеют неправильную форму. Встретить округлый или конусообразный метеорит достаточно сложно. Поверхность представляет собой расплавленный и вновь затвердевший слой вещества метеорита. Этот процесс происходит во время его движения в атмосфере, где он нагревается до температуры примерно в 1800 градусов. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Углубления, которые характерны для поверхности метеорита, называются регмаглипты. Возникают они в результате абляционных процессов, во время движения тела через атмосферу. Магнитными свойствами обладают абсолютно все метеориты. 
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Классификация метеоритов 
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Метеориты имеют несколько названий и видов, а именно: 
        <ul>
            <li>сидеролиты</li>
            <li>уранолиты</li>
            <li>аэролиты</li>
            <li>метеорные камни и пр.</li>
        </ul>
    </center>
    <center align="justify" class="Zagolovok-text">
        Космические тела называются метеорными до того момента, пока не попадут в атмосферу. Их классификация производится по разным астрономическим признакам. Можно определить метеорит, астероид, космическую пыль и прочее. Если объект стремительно пролетает сквозь атмосферу, оставляя за собой яркий след, его можно называть метеором, либо же болидом. Твердое тело, которое падает на поверхность Земли и оставляет глубокий кратер, называется метеоритом. Таким телам дают имена, в зависимости от местности, куда они упали. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Метеориты каменного вида разделяют на несколько подклассов – хондриты и ахондриты. Первые заслужили свое название за счет своего состава: содержат хондры, которые представляют собой силикатные образования. Ахондриты схожи с земными магматическими породами. Эти метеориты лишены хондр, состоят из вещества, образованного после плавления планетных тел. Дополнительно метеориты можно разделить на упавшие и найденные. Каменные разновидности тел могут так и остаться незамеченными, т.к. напоминают земные породы. 
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Из чего состоят 
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Основное количество метеоритов представлено каменным видом. В большинстве случаев – это хондриты (процентное соотношение от всех случаев столкновения с поверхностью достигает 92,8%). Среди общего числа падений ахондриты составляют 7,3%, железные – 5,7%, железо-силикатные – 1,5%. Эти перечисленные виды метеоритов признаны дифференцированными. Это значит, что вещество, из которого состоит небесное тело, попало на него в связи со столкновениями с астероидами и прочими планетными объектами. 
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Виды метеоритов 
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Зачастую человек представляет себе метеорит в виде объекта из железа. Такие тела достаточно массивные, они имеют интересные формы, которые приобретают во время падения и плавления. Несмотря на то, что распространенная ассоциация связана именно с железом, в реальности существует три разновидности метеоритов. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Метеориты имеют несколько названий и видов, а именно:
        <ul>
            <li><strong>Железный вид: </strong>Когда-то метеориты из железа были частью ядра планеты или же крупного астероида. Считается, что из последнего образовался Пояс Астероидов, расположенный между Юпитером и Марсом. На Земле такие материалы считаются одними из самых тяжелых, к тому же, они крепко притягиваются к магниту. Метеориты из железа в действительности гораздо массивнее обычных камней. Сравнить вес можно с пушечным ядром или со стальной плитой. Состав железа в большинстве таких метеоритов достигает 95%, оставшиеся 5% – это никель и прочие микроэлементы. Такие небесные тела делятся на классы по структуре и химическому составу. Принадлежность к определенному типу происходит после изучения основных компонентов сплава – камасита и тэнита. Они имеют интересную и сложную структуру в виде решетки, которая хорошо просматривается в растворе азотной кислоты. </li>
            <li><strong>Каменный вид: </strong>Одной из самых крупных групп метеоритов являются каменные. Их формирование происходит от астероида или внешней коры планеты. Большинство каменных небесных тел на Земле остаются неопознанными, т.к. имеют большое сходство с привычными для людей породами. Отличить земной материал от метеорита может только опытный человек. Небесное твердое тело отличается черным цветом, который оно приобретает в полете из-за горения.На некоторых метеоритах из камней можно увидеть мелкие красочные вкрапления, которые имеют название «хондры». Такие узоры образуются из солнечной туманности, которая является самой древней материей, доступной к изучению. </li>
            <li><strong>Каменно-железный вид: </strong>Самым редким видом метеоритов является каменно-железный. От общей численности эти небесные тела составляют лишь 2%. Метеориты состоят в равной степени из камней и железа, дополнительно их делят на мезосидериты и палласиты. Каменно-железные небесные объекты были сформированы на границе мантии родительских тел или коры. Среди частных коллекционеров самыми востребованными экземплярами являются палласиты. Состоят они из матрицы железа и никеля, которая заполнена оливином. Если кристаллы последнего вещества чистые и имеют зеленый оттенок, их расценивают как драгоценные камни – перодоты. Самой маленькой группой каменно-железных метеоритов являются мезосидериты. Такие объекты выглядят достаточно привлекательно, состоят из никеля и силикатов. </li>
        </ul>
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Что происходит при падении метеоритов на Землю 
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Практически все космические тела имеют высокую скорость движения (при входе в атмосферу она может достигать 72 км/с). Воспламенение и свечение метеорита происходит из-за его трения о воздух. В большинстве случаев, такие твердые тела полностью сгорают до того момента, как столкнуться с поверхностью Земли. Если метеорит имеет крупные размеры, то постепенно его движение замедляется, а он сам остывает. Дальнейшее развитие событий будет зависеть от начальной развитой скорости, массы тела и угла входа в атмосферу. 
    </center>
    <center align="justify" class="Zagolovok-text">
        Если метеорит сможет замедлиться, то его траектория изменится, и он попросту упадет. Иногда структура объекта настолько неоднородная, что он просто взрывается в процессе полета, а на Землю долетают лишь его осколки. Это явление имеет название «Метеоритный дождь». Если скорость тела не убавляется, а его размеры достаточно большие, при столкновении с поверхностью планеты происходит крупный взрыв. На этом месте возникает глубокий кратер. Такие астроблемы на Земле видны не всегда, т.к. их разрушают геологические процессы. 
    </center>

    <!-- ЗАГОЛОВОК -->

    <center align="justify" class="Zagolovok">
        <h2 class="display-6" id="Кометы">Кометы</h2>
    </center>
    <center class="blockopredelenie" align="justify" style="position:center">
        <!-- определение -->
        <strong>Коме́та</strong> (от др.-греч. κομήτης, komḗtēs — «волосатый», «косматый») — небольшое небесное тело, обращающееся вокруг Солнца по весьма вытянутой орбите в виде конического сечения. При приближении к Солнцу комета образует кому и иногда хвост из газа и пыли.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Почему кометы называются кометами?
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Благодаря своему внешнему виду и хвосту, кометы и получили свое название, ведь “κομήτης, komḗtēs” с древнего греческого переводится “хвостатый”,“волосатый”,“косматый”. Ученые считают, что в Солнечной системе циркулируют очень много комет. На сегодняшний день, согласно официальному сайту НАСА, астрономами зарегистрировано 3595 комет.
    </center>
    <center align="justify" class="Zagolovok2">
    <h4 class="display-7">
        История изучения комет
    </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        В древности люди, привыкшие любым явлениями придавать мифологический и божественный характер не прошли стороной и странные светящиеся полосы в небе, иногда проскальзывающие в ночи. Некоторые называли их душами умерших.
    </center>
    <center align="justify" class="Zagolovok-text">
        Но время шло и ученая мысль развивалась. Первым, кто заявил, что кометы это светящийся газ, был Аристотель. За ним уже Сенека предположил, что эти загадочные небесные объекты имеют свои орбиты.
    </center>
    <center align="justify" class="Zagolovok-text">
        Кометы движутся по орбите, поэтому возвращаются вновь и вновь в поле зрения астрономов. Выдвигались теории о вытянутых эллиптических орбитах, но эти теории не находили всеобщего признания и подтверждения вплоть до 18 века. Первая же такая гипотеза была выдвинута немецким ученым Георгом Дерффелем в 1681 году. Исаак Ньютон же спустя всего 6 лет после публикации работы своего предшественника, попробовал объяснить ее, представив всему миру свои гениальные законы гравитации. Ньютон также заявил, что кометы представляют из себя каменистые объекты, содержащие лед, испаряющийся по мере приближения к Солнцу, создавая тем самым хвост.
    </center>
    <center align="justify" class="Zagolovok-text">
        В 1705 году Эдмунд Галлей изучил все задокументированные появления комет и попытался определить параметры их орбит, используя ньютоновскую физику. Это привело его к теории о том, что кометы 1531, 1607 и 1682 годов были фактически одним и тем же объектом, который появится через 75 лет после его последнего появления. Галлей стал первым человеком, который смог успешно предсказать возвращение кометы — она появилась, точно согласно его вычислениям, в 1759 году. Тогда же она и получила название — комета Галлея.
    </center>
    <center align="justify" class="Zagolovok-text">
        Связь же между метеоритными дождями и кометами была доказана в конце 19-го века, когда итальянский астроном Джованни Скиапарелли выдвинул свою гипотезу относительно метеоритного потока Персеид, заметного невооруженным глазом каждый август. Его систематическое появление вызвано тем, что Земля проходит через облако обломков, которые оставила после себя комета Свифта-Таттла. Эта теория позволила ученому миру заключить, что кометы имеют твердую поверхность, которая покрыта слоем льда.
    </center>
    <center align="justify" class="Zagolovok-text">
        В 1950-х американский астроном Фред Лоуренс Уиппл предположил, что кометы на самом деле состоят из большего количества льда, чем камня, и содержат замороженную воду, углекислый газ и аммиак. Теория Уиппла была подтверждена наблюдениями космических аппаратов, запущенных во второй половине века.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Строение и состав комет
        </h4>
    </center>
    <center>
        <img src="~/images/strnstkmt.jpg" style=" width: 450px;  border-radius: 15px " />
    </center>
    <center align="justify" class="Zagolovok-text">
        Теперь мы знаем, что ядра комет в основном состоят из льда, который испаряется, когда комета близка к Солнцу. Это создает яркую атмосферу из пара, состоящую из заряженных частиц, называемых ионами и пылевыми частицами, которые могут состоять из силикатов, углеводородов и льда. Эта атмосфера получила название кома. Ядра наблюдаемых комет имеют длину от десятков метров до около 60 км. Кома создает оболочку вокруг ядра, которая может иметь ширину в миллионы километров, и окружена еще большей оболочкой, состоящей из водорода.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Направление хвоста комет
        </h4>
    </center>
    <center>
        <img src="~/images/hvstkmt.jpg" style=" width: 450px;  border-radius: 15px " />
    </center>
    <center align="justify" class="Zagolovok-text">
        Пыль и пар создают два отдельных хвоста, но направлены они обычно примерно в одну сторону. Оба хвоста всегда направлены в сторону от Солнца, но заряженные частицы сильнее реагируют на магнитное поле и солнечный ветер, что делает его направленным точно в обратную сторону от звезды. Частицы пыли меньше подвержены подобному влиянию, поэтому направление пылевого хвоста искривляется в зависимости от орбиты кометы.
    </center>
    <div class="exam_03" align="justify" style="position:center">
        <!-- примечание -->
        В 2009 году космический зонд НАСА взял образец из кометы Вильда-2 и ученые обнаружили, что он содержит аминокислоту глицин — важнейший элемент для зарождения жизни. Недавнее исследование показало, что на Землю могла упасть комета, принеся до 9 триллионов органических материалов, обеспечив тем самым необходимую энергию и материалы для синтеза более серьезных молекул, впоследствии создавшие жизнь.
    </div>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Чем отличаются кометы друг от друга?
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Кометы отличаются друг от друга в первую очередь массой и размерами. Они могут сильно варьироваться в своих размерах, но кометы все равно остаются малыми небесными телами, учитывая размеры других космических объектов. Но если у вас был любительский телескоп и вы наблюдали за кометами в ночном небе, то могли заметить, что они также отличаются яркостью свечения и формой. Эти параметры в первую очередь зависят от химического состава кометы.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Происхождение комет
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Происхождение комет можно определить по их орбитальным параметрам. Считается, что кометы, которые вращаются вокруг Солнца менее чем на 200 лет, происходят из пояса Койпера. Пояс Койпера находится за пределами орбиты Нептуна и был выдвинут гипотезой голландско-американского астронома Джерарда Койпера в 1951 году. В настоящее время считается, что пояс содержит около 1000 миллиардов комет.
    </center>
    <center align="justify" class="Zagolovok-text">
        Считается, что кометы с периодами более 200 лет происходят из Облака Оорта. Облако Оорта — это сферическое облако, которое вращается вокруг Солнца на расстоянии более 1,5 световых лет от края пояса Койпера. Это треть расстояния до ближайшей ближайшей звезды Проксима Центавра.
    </center>
    <center align="justify" class="Zagolovok-text">
        Эстонский астроном Эрнст Эпик впервые предположил, что кометы с длительными периодами вращения могут зарождаться из Облака Оорта в 1932 году, и эта идея продолжила свое развитие в трудах Яна Оорта в 1950 году. Считается, что Облако Оорта содержит сотни миллиардов комет, а некоторые из них могут иметь такое количество льда, которое превышает массу всей воды на Земле в несколько раз.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Происхождение комет
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        Метеоры связаны с яркими вспышками в небе, которые часто называются “падающими звездами”. Метеороиды — это объекты в космосе, размеры которых варьируются от зерен пыли до мелких астероидов. По сути это просто камни, летающие по космосу. Когда метеороиды попадают в атмосферу Земли (или другой планеты, например, Марса) на высокой скорости и сгорают, огненные шары или “падающие звезды” называются метеорами. Когда метеороид переживает путешествие через атмосферу и падает на землю, его называют метеоритом. Все это зависит от размера космического тела.
    </center>
    <center align="justify" class="Zagolovok-text">
        Астероид, иногда называющиеся малыми планетами, являются каменными крупными осколками без атмосферы, которые остались после первых ступеней формирования нашей Солнечной системы около 4,6 миллиардов лет назад. Большая часть находится между Марсом и Юпитером. Размеры астероидов сильно варьируются — они могут достигать в диаметре 530 километров или же быть совсем маленькими и достигать всего 10 метров. Главным отличием астероида и кометы является их химический состав.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Как кометы получают свое название?
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        История наблюдения комет насчитывает более 2000 лет, в течение которых использовалась несколько схем присвоения имен каждой из комет. На сегодняшний день некоторые из комет могут иметь более одного имени.
    </center>
    <center align="justify" class="Zagolovok-text">
        Самая первая система характеризовалась тем, что кометы получали имя в честь года их обнаружения (например, Великая комета 1680 года). Позже появилось соглашение астрономов о том, что в названиях комет будут использоваться имена людей, связанных с открытием (например, комета Хейла-Боппа) или первого подробного исследования (например, комета Галлея).
    </center>
    <center align="justify" class="Zagolovok-text">
        С 20-го века технологии постоянно развивались и количество открытий росло с каждым годом, поэтому возникла необходимость создания более универсальной системы с использованием специальных чисел.
    </center>
    <center align="justify" class="Zagolovok-text">
        Изначально кометам присваивались коды в том порядке, в котором кометы проходили перигелий (например, комета 1970 II). Но и эта система не смогла просуществовать долго, потому что и она не могла справиться с числом ежегодных открытий. Так с 1994 года появилась новая система — присваивается код на основе типа орбиты и даты обнаружения (например, C / 2012 S1):
        <ul>
            <li>P / обозначает периодическую комету, определенную для этих целей как любая комета с орбитальным периодом менее 200 лет или подтвержденными наблюдениями при более чем одном проходе перигелия;</li>
            <li>C / обозначает непериодическую комету, то есть любую комету, которая не является периодической в соответствии с предыдущим пунктом;</li>
            <li>X / указывает на комету, для которой невозможно рассчитать орбиту (обычно кометы их исторических наблюдений);</li>
            <li>D / указывает на периодическую комету, которая исчезла, разбилась или была потеряна. Примеры включают Комету Лекселла (D / 1770 L1) и Комету Шумейкер-Леви 9 (D / 1993 F2);</li>
            <li>A / указывает на объект, который был ошибочно идентифицирован как комета, но на самом деле является малой планетой. Но в течение многих лет это название не использовалось, но в 2017 году ее применили для Оумуамуа (A / 2017 U1), а затем ко всем астероидам на орбитах похожих на кометы;</li>
            <li>I / обозначает межзвездный объект. Это обозначение появились совсем недавно, в 2017 году, чтобы дать Оумуамуа (1I / 2017 U1) наиболее правильный и точный статус. По состоянию на 2019 год единственным другим объектом с этой классификацией является комета Борисова (2I / 2019 Q4).</li>
        </ul>
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Представляют ли кометы угрозу Земле?
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        С момента своего образования более 4,5 миллиардов лет назад Земля много раз подвергалась столкновением с астероидами и кометами, когда последних их орбита заносила во внутренние рубежи Солнечной системы и проходит в непосредственной близости от Земли. Такие объекты в своей совокупности получили название “околоземные объекты”.
    </center>
    <center align="justify" class="Zagolovok-text">
        В зависимости от размера воздействующего объекта, такое столкновение может нанести огромный ущерб в локальном и глобальном масштабах. И это неоспоримый факт, что в какой-то момент Земля вновь столкнется с другим небесным телом. Существуют убедительные научные доказательства того, что космические столкновения сыграли главную роль в массовом вымирании, зафиксированное в окаменелостях по всему свету.
    </center>
    <center align="justify" class="Zagolovok-text">
        Околоземные объекты имеют орбиты, которые совпадают по направлению с Землей, поэтому столкновение с ними не столь разрушительно, так как скорость удара сильно уменьшается. Но вот кометы путешествуют вокруг Солнца немного другими путями, которые крайне сложно предсказать, поэтому может произойти и столкновение в лоб, что может привести к катастрофическим результатам, говорят исследователи.
    </center>
    <center align="justify" class="Zagolovok-text">К сожалению, атмосфера Земли не является идеальной защитой от космических катастроф, потому что размеры комет могут достигать нескольких километров. Это настоящие горы из камня и льда. Когда комета выходит в атмосферу Земли, то меньшие ее частицы испаряются и не достигают поверхности, но вот большие все же долетают. Они создают взрыв при ударе, который образует кратер. Некоторые ученые считают, что самые крупные кратеры на Земле был образованы в результате столкновения именно кометами.
    </center>
    <center align="justify" class="Zagolovok2">
        <h4 class="display-7">
            Самые известные кометы Солнечной системы
        </h4>
    </center>
    <center align="justify" class="Zagolovok-text">
        <ul>
            <li><strong>Комета Галлея. </strong>Комета Галлея — самая знаменитая из всех комет. Ведь британский ученый Эдмунд Галлей стал первым, кто смог доказать периодичность комет после своих наблюдений и анализа данных астрономов прошлого. Он смог с точностью предсказать возвращение кометы, которая впервые была замечена в 1066 году. Комета Галлея шириной 8 км и длиной 16 км совершает оборот вокруг Солнца каждые 75–76 лет по вытянутой орбите. Последний раз она проходил близко к Земле в феврале 1986 года.</li>
            <li><strong>Комета Шумейкеров-Леви 9. </strong>Комета Шумейкеров-Леви 9 стала знаменита тем, что в 1992 году под воздействием гравитации Юпитера она разорвалась на 21 часть, а затем в 1994 году все части обрушилась на поверхность газового гиганта. Это зрелище наблюдали все астрономы-любители и профессионалы. Утверждается, что удар одного фрагмента — около 3 км в диаметре — привел к взрыву, эквивалентному 6 миллионам мегатонн тротила.</li>
            <li><strong>Комета Чурюмова-Герасименко. </strong>Запущенный в 2004 году космический зонд Розетта, принадлежащий Европейскому космическому агентству, который должен был приземлиться на комету Чурюмова-Герасименко в 2014 году. Считается, что комета имеет ширину около пяти километров и в настоящее время вращается вокруг Солнца примерно каждые 6,6 лет. Её орбита раньше была намного больше, но взаимодействие с гравитации Юпитера с 1840 года изменило ее на гораздо меньшую. Затем орбитальный аппарат провел почти два рядом с кометой, когда она направилась обратно к Солнцу. Зонд изучил состав кометы, чтобы помочь нам лучше понять историю формирования нашей Солнечной системы.</li>
            <li><strong>Комета Хейла-Боппа. </strong>В январе 1997 года комета Хейла-Боппа приблизилась к Земле на самое близкое расстояние за 4000 лет. Последний раз этот объект пролетал рядом с нашей планетой еще в бронзовый век, то есть 2000 лет до нашей эры. Комета Хейла-Боппа значительно больше и яре кометы Галлея. Ядро достигает 40 км в диаметре и видна невооруженным глазом. Хейл-Бопп настолько яркий, что его можно было увидеть с Земли в 1995 году, когда она еще находилась за пределами орбиты Юпитера.</li>
            <li><strong>Комета Борелли. </strong>Это вторая по счету комета после Галлея, которая была сфотографирована крупным планом с помощью космического корабля Deep Space 1, отправленным НАСА в 2001 году. Эта исследовательская миссия дала много данных для ученых, благодаря этому астрономы смогли многое понять о ядрах комет. Снимки показали, что каменистое ядро имеет форму гигантской кегли длиной 8 километров, и вся комета странно изогнута. В отличие от кометы Галлея, которая сформировалась в Облаке Оорта на внешних границах Солнечной системы, Боррелли, как полагают, происходит из пояса Койпера.</li>
            <li><strong>Комета Хякутакэ. </strong>Эта комета произвела неизгладимое впечатление на ученых, когда в 1996 году она прошла рядом с нашей планетой, приблизилась к Земле на расстояние всего 15 миллионов километров, что оказалось самым близким расстоянием на которое приближались любые другие кометы. Комета озадачила астрономов, поскольку она излучала радиационные лучи в 100 раз интенсивнее, чем предполагалось. Космический аппарат “Улисс” прошел через хвост этой кометы в мае 1996 года, показав, что его длина составляет не менее 570 миллионов километров — в два раза больше, чем у любой другой известной кометы.</li>
        </ul>
    </center>
    </div>
</body>