@{
    ViewData["Title"] = "Космические объекты";
}
<body class="mainspace">
<link href="~/css/style objectspace.css" type="text/css" rel="stylesheet">
    <div class="textincentre">
        Выберите тип космического объекта с которым хотите ознакомится:
    </div>
    <div class="wrapper">
        <div class="card">
            <img src="~/images/dd42280e21bc96bd41dcc35e54eff475.png" />
            <div class="info">
                <h1>Звезды</h1>
                <p>Звёзды — это гигантские светящиеся шары, представляющие собой массивы раскалённого газа</p>
            <a href="../Home/Objectspacestar"><button>Почитать</button></a>
            </div>
        </div>
        <div class="card">
            <div class="background">
            <img src="~/images/02179dbd67f880042ba8b1040d9c34f5.jpg" />
            </div>
            <div class="info">
                <h1>Солнечная система</h1>
            <p>Наш дом во Вселенной, состоящий из Солнца и всего, что вращается вокруг него</p>
            <a href="../Home/Objectspaceplanet"><button>Почитать</button></a>
            </div>
        </div>
        <div class="card">
            <img src="~/images/asteroid_falling_to_earth.jpg" />
            <div class="info">
                <h1>Астероиды и метеориты</h1>
                <p>Астероид, достигший поверхности Земли, становится метеоритом</p>
            <a href="../Home/Objectspaceasteroid"><button>Почитать</button></a>
            </div>
        </div>
    </div>
</body>
