@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<body class="privacy">
<div class="text-center">
<h2>Политика конфиденциальности</h2>
<p>
    Ваше право на конфиденциальность важно для нас. Эта политика конфиденциальности объясняет, какие данные мы собираем, как мы их обрабатываем и для каких целей.
</p>
</div>

<h4>Сбор данных</h4>
<p>
    Мы можем собирать личные данные, такие как ваше имя и адрес электронной почты, когда вы подписываетесь на нашу рассылку или оставляете комментарии. Мы также собираем не личные данные, такие как информация о вашем устройстве и использовании сайта, через файлы cookie и аналогичные технологии.
</p>

<h4>Использование данных</h4>
<p>
    Мы используем собранные данные для предоставления и улучшения наших услуг, отправки вам новостей и обновлений, а также для анализа использования нашего сайта с целью его улучшения.
</p>

<h4>Обмен данными</h4>
<p>
    Мы не передаем ваши личные данные третьим лицам, за исключением случаев, описанных в этой политике конфиденциальности, например, если это требуется по закону или для защиты наших прав.
</p>

<h4>Файлы cookie</h4>
<p>
    Мы используем файлы cookie для улучшения работы нашего сайта. Вы можете настроить свой браузер так, чтобы он отказывался от всех или некоторых файлов cookie, или чтобы уведомлял вас, когда сайты устанавливают или получают доступ к файлам cookie. Если вы отключите или откажетесь от файлов cookie, обратите внимание, что некоторые части этого сайта могут стать недоступными или работать некорректно.
</p>

<h4>Безопасность данных</h4>
<p>
    Мы принимаем разумные меры для защиты ваших данных от потери, кражи и несанкционированного доступа, использования и раскрытия.
</p>

<h4>Изменения в политике конфиденциальности</h4>
<p>
    Мы можем периодически обновлять эту политику конфиденциальности. Мы будем уведомлять вас о любых изменениях, разместив новую политику конфиденциальности на этой странице. Рекомендуем периодически просматривать эту страницу, чтобы быть в курсе изменений.
</p>

<h4>Контактная информация</h4>
<p>
    Если у вас есть вопросы или предложения по поводу этой политики конфиденциальности, пожалуйста, свяжитесь с нами по адресу privacy@example.com.
</p>
</body>